# Get Previous Outcomes From Sporting Life

In [1]:
import requests
import urllib
from bs4 import BeautifulSoup
import json
import pandas as pd
import numpy as np
import pickle
from tqdm import tqdm_notebook, tqdm
import datetime
import time
import importlib
import config
importlib.reload(config)
from config import username, password, application, dbpw
import logging

import matplotlib.pyplot as plt
import seaborn as sns

import pymysql
import sqlalchemy

import xgboost as xgb
import statsmodels.api as sm

from Levenshtein import distance as levenshtein_distance

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
pd.options.mode.chained_assignment = None

# Get Data For Dates

In [4]:
past_dates = pd.date_range(start='2023-01-02', end='2023-02-04')

In [5]:
matches_data = []
goals_data = []
failed_dates = []

In [6]:
for d in tqdm(past_dates):
    try:
        yyyymmdd = d.strftime('%Y')+'-'+d.strftime('%m')+'-'+d.strftime('%d')
        dateurl = 'https://www.sportinglife.com/football/fixtures-results/'+yyyymmdd
        datejson = urllib.request.urlopen(dateurl).read()
        soup = BeautifulSoup(datejson)
        soup_find = soup.body.find(attrs={"type": "application/json"})
        soup_json = json.loads(soup_find.text)
        
        matches = soup_json.get('props', {}).get('pageProps', {}).get('matches', [])
        for m in matches:
            match_ref = m.get('match_reference', {}).get('id')
            match_date = m.get('match_date')
            match_time = m.get('match_time')

            matches_data.append(
                [
                    match_ref, match_date, match_time,
                    m.get('state'),
                    m.get('match_type'), 
                    m.get('competition', {}).get('competition_reference', {}).get('id'),
                    m.get('competition', {}).get('name'),
                    str(m.get('round')),
                    m.get('legs'),
                    m.get('leg'),
                    m.get('team_score_a', {}).get('team', {}).get('team_reference', {}).get('id'),
                    m.get('team_score_a', {}).get('team', {}).get('name'),
                    m.get('team_score_a', {}).get('team', {}).get('short_name'),
                    m.get('team_score_a', {}).get('score', [])[0].get('score'),
                    m.get('team_score_b', {}).get('team', {}).get('team_reference', {}).get('id'),
                    m.get('team_score_b', {}).get('team', {}).get('name'),
                    m.get('team_score_b', {}).get('team', {}).get('short_name'),
                    m.get('team_score_b', {}).get('score', [])[0].get('score'),
                    m.get('match_outcome', {}).get('outcome'),
                    m.get('match_outcome', {}).get('result_type'),
                    m.get('match_outcome', {}).get('winner', {}).get('team_reference', {}).get('id'),
                    m.get('match_outcome', {}).get('winner', {}).get('name'),
                    m.get('match_outcome', {}).get('winner', {}).get('short_name'),
                    m.get('half_time_score', {}).get('home'),
                    m.get('half_time_score', {}).get('away'),
                    m.get('full_time_score', {}).get('home'),
                    m.get('full_time_score', {}).get('away'),
                    m.get('clock')
                ]
            )

            homegoals = m.get('homeGoals', [])
            for g in homegoals:
                player = g.get('team_player')
                goal_id = g.get('id')
                for goal in g.get('goal', []):
                    goals_data.append(
                        [
                            match_ref, match_date, match_time,
                            player, goal_id,
                            goal.get('type'),
                            goal.get('time'),
                            goal.get('event_id'),
                            goal.get('event_time'),
                            'home'
                        ]
                    )

            awaygoals = m.get('awayGoals', [])
            for g in awaygoals:
                player = g.get('team_player')
                goal_id = g.get('id')
                for goal in g.get('goal', []):
                    goals_data.append(
                        [
                            match_ref, match_date, match_time,
                            player, goal_id,
                            goal.get('type'),
                            goal.get('time'),
                            goal.get('event_id'),
                            goal.get('event_time'),
                            'away'
                        ]
                    )
        
    except:
        failed_dates.append(d)

100%|██████████| 34/34 [00:44<00:00,  1.31s/it]

In [7]:
matches_cols = [
    'match_ref', 'match_date', 'match_time', 'state', 'match_type', 'competition_id', 'competition_name', 
    'round', 'legs', 'leg', 'team_a_id', 'team_a_name', 'team_a_short_name', 'team_a_score',
    'team_b_id', 'team_b_name', 'team_b_short_name', 'team_b_score',
    'outcome', 'result_type', 'winner_id', 'winner_name', 'winner_short_name',
    'half_time_score_home', 'half_time_score_away',
    'full_time_score_home', 'full_time_score_away', 'clock'
]
matches_df = pd.DataFrame(matches_data, columns=matches_cols)

In [8]:
goals_cols = [
    'match_ref', 'match_date', 'match_time', 'player', 'goal_id', 'type', 'time', 'event_id', 'event_time', 'side'
]
goals_df = pd.DataFrame(goals_data, columns=goals_cols)

In [9]:
def get_extra_time(t):
    time_split = t.replace("'", "").split("+")
    if len(time_split)>1:
        return int(time_split[1])
    else:
        return 0

goals_df['time_regular'] = goals_df['time'].apply(lambda x: int(x.replace("'", "").split("+")[0]))
goals_df['time_extra'] = goals_df['time'].apply(get_extra_time)

In [10]:
matches_df['year'] = matches_df['match_date'].apply(lambda x: x[:4])

In [11]:
time_cutoffs = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90]
cap_at = 90
time_features = []
for i, t in enumerate(time_cutoffs):
    goals_df[f'goals_pre_{t}m'] = ((goals_df[f'time_regular']<t) & (goals_df[f'time_regular']<=cap_at))*1
    time_features += [f'goals_pre_{t}m']
    if t > min(time_cutoffs):
        goals_df[f'goals_{time_cutoffs[i-1]}m_to_{t}m'] = (
            goals_df[f'goals_pre_{t}m'] - goals_df[f'goals_pre_{time_cutoffs[i-1]}m'])
        time_features += [f'goals_{time_cutoffs[i-1]}m_to_{t}m']
    
    goals_df[f'goals_post_{t}m'] = ((goals_df[f'time_regular']>=t) & (goals_df[f'time_regular']<=cap_at))*1
    time_features += [f'goals_post_{t}m']

# same for home and away goals
time_features_home_away = []
for i, t in enumerate(time_cutoffs):
    goals_df[f'home_goals_pre_{t}m'] = ((goals_df[f'time_regular']<t) & (goals_df[f'time_regular']<=cap_at) & (goals_df[f'side']=='home'))*1
    time_features_home_away += [f'home_goals_pre_{t}m']
    
    goals_df[f'away_goals_pre_{t}m'] = ((goals_df[f'time_regular']<t) & (goals_df[f'time_regular']<=cap_at) & (goals_df[f'side']=='away'))*1
    time_features_home_away += [f'away_goals_pre_{t}m']
    
    if t > min(time_cutoffs):
        goals_df[f'home_goals_{time_cutoffs[i-1]}m_to_{t}m'] = (
            goals_df[f'home_goals_pre_{t}m'] - goals_df[f'home_goals_pre_{time_cutoffs[i-1]}m'])
        time_features_home_away += [f'home_goals_{time_cutoffs[i-1]}m_to_{t}m']
        
        goals_df[f'away_goals_{time_cutoffs[i-1]}m_to_{t}m'] = (
            goals_df[f'away_goals_pre_{t}m'] - goals_df[f'away_goals_pre_{time_cutoffs[i-1]}m'])
        time_features_home_away += [f'away_goals_{time_cutoffs[i-1]}m_to_{t}m']
    
    goals_df[f'home_goals_post_{t}m'] = ((goals_df[f'time_regular']>=t) & (goals_df[f'time_regular']<=cap_at) & (goals_df[f'side']=='home'))*1
    time_features_home_away += [f'home_goals_post_{t}m']
    
    goals_df[f'away_goals_post_{t}m'] = ((goals_df[f'time_regular']>=t) & (goals_df[f'time_regular']<=cap_at) & (goals_df[f'side']=='away'))*1
    time_features_home_away += [f'away_goals_post_{t}m']

In [12]:
goals_features = goals_df.groupby(['match_ref', 'match_date'])[time_features+time_features_home_away].sum().reset_index()

In [13]:
model_data = matches_df.merge(goals_features, how='left', on=['match_ref', 'match_date'])

for f in time_features + time_features_home_away:
    model_data[f] = model_data[f].fillna(0)
    
for t in time_cutoffs:
    model_data[f'goal_diff_at_{t}'] = model_data[f'home_goals_pre_{t}m'] - model_data[f'away_goals_pre_{t}m']
    model_data[f'abs_goal_diff_at_{t}'] = abs(model_data[f'goal_diff_at_{t}'])

In [14]:
# check only include games with no goals data if score is 0 - 0
model_data['goals_data_num_goals'] = model_data['goals_pre_90m'] + model_data['goals_post_90m']
model_data['matches_data_num_goals'] = model_data['team_a_score'] + model_data['team_b_score']
et_mask = model_data['result_type']=='AFTEREXTRATIME'
model_data.loc[et_mask, 'matches_data_num_goals'] = model_data.loc[et_mask, 'full_time_score_home'] + model_data.loc[et_mask, 'full_time_score_away']

In [15]:
model_data_no_goals_data = model_data[model_data['goals_data_num_goals'] != model_data['matches_data_num_goals']]
model_data = model_data[model_data['goals_data_num_goals'] == model_data['matches_data_num_goals']]

In [16]:
model_data = model_data[model_data['half_time_score_home'].notnull()]

In [17]:
model_data['any_goal_post_50'] = (model_data['goals_post_50m']>0)*1
model_data['any_goal_post_60'] = (model_data['goals_post_60m']>0)*1
model_data['any_goal_post_70'] = (model_data['goals_post_70m']>0)*1
model_data['any_goal_post_75'] = (model_data['goals_post_75m']>0)*1
model_data['any_goal_post_80'] = (model_data['goals_post_80m']>0)*1
model_data['any_goal_post_85'] = (model_data['goals_post_85m']>0)*1

In [18]:
model_data['total_goals'] = model_data['goals_data_num_goals']
model_data['score_diff'] = model_data['team_a_score'] - model_data['team_b_score']
model_data['score_diff_abs'] = abs(model_data['score_diff'])

In [19]:
model_data['year'] = model_data['match_date'].apply(lambda x: x[:4]).astype(int)
model_data['month'] = model_data['match_date'].apply(lambda x: x[5:7]).astype(int)

In [20]:
model_data.shape

(1197, 236)

# Get Data from DB

In [21]:
connect_string = 'mysql+pymysql://root:'+dbpw+'@localhost/sl_bf_late_goals'
sql_engine = sqlalchemy.create_engine(connect_string)
testing_viable_matches = pd.read_sql('''SELECT * FROM testing_viable_matches''', con=sql_engine)
testing2_viable_matches = pd.read_sql('''SELECT * FROM testing2_viable_matches''', con=sql_engine)
testing_model_data = pd.read_sql('''SELECT * FROM testing_model_data''', con=sql_engine)
testing2_model_data = pd.read_sql('''SELECT * FROM testing2_model_data''', con=sql_engine)

In [22]:
testing_viable_matches.shape

(461, 78)

In [23]:
testing2_viable_matches.shape

(1299, 78)

In [24]:
select_cols1 = f'select v.{testing_viable_matches.columns[0]}'
for c in testing_viable_matches.columns[1:]:
    select_cols1 += f', v.{c}'
for c in testing_model_data.columns:
    if c not in testing_viable_matches.columns:
        select_cols1 += f', m.{c}'
        
select_cols2 = f'select v.{testing2_viable_matches.columns[0]}'
for c in testing2_viable_matches.columns[1:]:
    select_cols2 += f', v.{c}'
for c in testing2_model_data.columns:
    if c not in testing2_viable_matches.columns:
        select_cols2 += f', m.{c}'

In [25]:
viable_matches_with_model_data = pd.read_sql(f'''{select_cols1} FROM testing_viable_matches v LEFT JOIN testing_model_data m ON v.match_ref = m.match_ref and v.datetime_utc = m.datetime_utc''', con=sql_engine)
viable_matches_with_model_data2 = pd.read_sql(f'''{select_cols2} FROM testing2_viable_matches v LEFT JOIN testing2_model_data m ON v.match_ref = m.match_ref and v.datetime_utc = m.datetime_utc''', con=sql_engine)
viable_matches_with_model_data3 = pd.read_sql(f'''SELECT * FROM testing3_model_data_with_preds''', con=sql_engine)
viable_matches_with_model_data4 = pd.read_sql(f'''SELECT * FROM testing_live_model_data_with_preds''', con=sql_engine)

In [26]:
viable_matches_with_model_data.shape

(461, 131)

In [27]:
viable_matches_with_model_data2.shape

(1299, 277)

In [28]:
viable_matches_with_model_data3.shape

(360, 283)

In [29]:
viable_matches_with_model_data3.shape

(360, 283)

In [30]:
# add on the extra features needed for the original v1 data collected
viable_matches_with_model_data1 = viable_matches_with_model_data.merge(model_data, how='left', on='match_ref', suffixes=('', '_added_on_data'))
viable_matches_with_model_data2 = viable_matches_with_model_data2.merge(model_data, how='left', on='match_ref', suffixes=('', '_added_on_data'))
viable_matches_with_model_data3 = viable_matches_with_model_data3.merge(model_data, how='left', on='match_ref', suffixes=('', '_added_on_data'))
viable_matches_with_model_data4 = viable_matches_with_model_data4.merge(model_data, how='left', on='match_ref', suffixes=('', '_added_on_data'))

In [31]:
viable_matches_with_model_data4[viable_matches_with_model_data4['team_a_name']=='Rangers']

,match_ref,match_date,match_time,state,match_type,competition_id,competition_name,round,legs,leg,...,any_goal_post_50,any_goal_post_60,any_goal_post_70,any_goal_post_75,any_goal_post_80,any_goal_post_85,total_goals_added_on_data,score_diff,score_diff_abs,month_added_on_data
382,157364,2023-01-15T15:00:00.000Z,15:00,SECONDHALF,Cup,42,Scottish League Cup,"{'round_number': 4, 'round_type': 'Semi-Finals'}",1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385,157364,2023-01-15T15:00:00.000Z,15:00,SECONDHALF,Cup,42,Scottish League Cup,"{'round_number': 4, 'round_type': 'Semi-Finals'}",1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,157364,2023-01-15T15:00:00.000Z,15:00,SECONDHALF,Cup,42,Scottish League Cup,"{'round_number': 4, 'round_type': 'Semi-Finals'}",1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
393,157364,2023-01-15T15:00:00.000Z,15:00,SECONDHALF,Cup,42,Scottish League Cup,"{'round_number': 4, 'round_type': 'Semi-Finals'}",1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,157364,2023-01-15T15:00:00.000Z,15:00,SECONDHALF,Cup,42,Scottish League Cup,"{'round_number': 4, 'round_type': 'Semi-Finals'}",1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,157364,2023-01-15T15:00:00.000Z,15:00,SECONDHALF,Cup,42,Scottish League Cup,"{'round_number': 4, 'round_type': 'Semi-Finals'}",1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1808,145241,2023-01-28T15:00:00.000Z,15:00,SECONDHALF,Regular,62,Scottish Premiership,{},1,1,...,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,1.0
1865,145241,2023-01-28T15:00:00.000Z,15:00,SECONDHALF,Regular,62,Scottish Premiership,{},1,1,...,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,1.0
2039,145241,2023-01-28T15:00:00.000Z,15:00,SECONDHALF,Regular,62,Scottish Premiership,{},1,1,...,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,1.0
2081,145241,2023-01-28T15:00:00.000Z,15:00,SECONDHALF,Regular,62,Scottish Premiership,{},1,1,...,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,1.0
3129,145262,2023-02-04T15:00:00.000Z,15:00,SECONDHALF,Regular,62,Scottish Premiership,{},1,1,...,1.0,1.0,1.0,1.0,0.0,0.0,3.0,1.0,1.0,2.0
3187,145262,2023-02-04T15:00:00.000Z,15:00,SECONDHALF,Regular,62,Scottish Premiership,{},1,1,...,1.0,1.0,1.0,1.0,0.0,0.0,3.0,1.0,1.0,2.0
3250,145262,2023-02-04T15:00:00.000Z,15:00,SECONDHALF,Regular,62,Scottish Premiership,{},1,1,...,1.0,1.0,1.0,1.0,0.0,0.0,3.0,1.0,1.0,2.0
3306,145262,2023-02-04T15:00:00.000Z,15:00,SECONDHALF,Regular,62,Scottish Premiership,{},1,1,...,1.0,1.0,1.0,1.0,0.0,0.0,3.0,1.0,1.0,2.0
3317,145262,2023-02-04T15:00:00.000Z,15:00,SECONDHALF,Regular,62,Scottish Premiership,{},1,1,...,1.0,1.0,1.0,1.0,0.0,0.0,3.0,1.0,1.0,2.0

In [32]:
goals_df[goals_df['match_ref']==157364]

Empty DataFrame
Columns: [match_ref, match_date, match_time, player, goal_id, type, time, event_id, event_time, side, time_regular, time_extra, goals_pre_5m, goals_post_5m, goals_pre_10m, goals_5m_to_10m, goals_post_10m, goals_pre_15m, goals_10m_to_15m, goals_post_15m, goals_pre_20m, goals_15m_to_20m, goals_post_20m, goals_pre_25m, goals_20m_to_25m, goals_post_25m, goals_pre_30m, goals_25m_to_30m, goals_post_30m, goals_pre_35m, goals_30m_to_35m, goals_post_35m, goals_pre_40m, goals_35m_to_40m, goals_post_40m, goals_pre_45m, goals_40m_to_45m, goals_post_45m, goals_pre_50m, goals_45m_to_50m, goals_post_50m, goals_pre_55m, goals_50m_to_55m, goals_post_55m, goals_pre_60m, goals_55m_to_60m, goals_post_60m, goals_pre_65m, goals_60m_to_65m, goals_post_65m, goals_pre_70m, goals_65m_to_70m, goals_post_70m, goals_pre_75m, goals_70m_to_75m, goals_post_75m, goals_pre_80m, goals_75m_to_80m, goals_post_80m, goals_pre_85m, goals_80m_to_85m, goals_post_85m, goals_pre_90m, goals_85m_to_90m, goals_post_90m, home_goals_pre_5m, away_goals_pre_5m, home_goals_post_5m, away_goals_post_5m, home_goals_pre_10m, away_goals_pre_10m, home_goals_5m_to_10m, away_goals_5m_to_10m, home_goals_post_10m, away_goals_post_10m, home_goals_pre_15m, away_goals_pre_15m, home_goals_10m_to_15m, away_goals_10m_to_15m, home_goals_post_15m, away_goals_post_15m, home_goals_pre_20m, away_goals_pre_20m, home_goals_15m_to_20m, away_goals_15m_to_20m, home_goals_post_20m, away_goals_post_20m, home_goals_pre_25m, away_goals_pre_25m, home_goals_20m_to_25m, away_goals_20m_to_25m, home_goals_post_25m, away_goals_post_25m, home_goals_pre_30m, away_goals_pre_30m, home_goals_25m_to_30m, away_goals_25m_to_30m, home_goals_post_30m, away_goals_post_30m, home_goals_pre_35m, ...]
Index: []

[0 rows x 171 columns]

In [33]:
model_data[model_data['match_ref']==157364]

Empty DataFrame
Columns: [match_ref, match_date, match_time, state, match_type, competition_id, competition_name, round, legs, leg, team_a_id, team_a_name, team_a_short_name, team_a_score, team_b_id, team_b_name, team_b_short_name, team_b_score, outcome, result_type, winner_id, winner_name, winner_short_name, half_time_score_home, half_time_score_away, full_time_score_home, full_time_score_away, clock, year, goals_pre_5m, goals_post_5m, goals_pre_10m, goals_5m_to_10m, goals_post_10m, goals_pre_15m, goals_10m_to_15m, goals_post_15m, goals_pre_20m, goals_15m_to_20m, goals_post_20m, goals_pre_25m, goals_20m_to_25m, goals_post_25m, goals_pre_30m, goals_25m_to_30m, goals_post_30m, goals_pre_35m, goals_30m_to_35m, goals_post_35m, goals_pre_40m, goals_35m_to_40m, goals_post_40m, goals_pre_45m, goals_40m_to_45m, goals_post_45m, goals_pre_50m, goals_45m_to_50m, goals_post_50m, goals_pre_55m, goals_50m_to_55m, goals_post_55m, goals_pre_60m, goals_55m_to_60m, goals_post_60m, goals_pre_65m, goals_60m_to_65m, goals_post_65m, goals_pre_70m, goals_65m_to_70m, goals_post_70m, goals_pre_75m, goals_70m_to_75m, goals_post_75m, goals_pre_80m, goals_75m_to_80m, goals_post_80m, goals_pre_85m, goals_80m_to_85m, goals_post_85m, goals_pre_90m, goals_85m_to_90m, goals_post_90m, home_goals_pre_5m, away_goals_pre_5m, home_goals_post_5m, away_goals_post_5m, home_goals_pre_10m, away_goals_pre_10m, home_goals_5m_to_10m, away_goals_5m_to_10m, home_goals_post_10m, away_goals_post_10m, home_goals_pre_15m, away_goals_pre_15m, home_goals_10m_to_15m, away_goals_10m_to_15m, home_goals_post_15m, away_goals_post_15m, home_goals_pre_20m, away_goals_pre_20m, ...]
Index: []

[0 rows x 236 columns]

# Get models and do predictions

In [34]:
# # football models
# with open('/home/angus/projects/betting/football/models/late_goals_test_model_1.pickle', 'rb') as f:
#     test_model_1_80m = pickle.load(f)
with open('/home/angus/projects/betting/football/models/late_goals_test_models_2.pickle', 'rb') as f:
    models_dicts = pickle.load(f)

In [35]:
models_dicts

{'any_goal_post_50': {'lin_mod': <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x7fab449bc748>,
  'rf_mod': RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                         max_depth=6, max_features='auto', max_leaf_nodes=None,
                         min_impurity_decrease=0.0, min_impurity_split=None,
                         min_samples_leaf=2, min_samples_split=2,
                         min_weight_fraction_leaf=0.0, n_estimators=16,
                         n_jobs=None, oob_score=False, random_state=None,
                         verbose=0, warm_start=False),
  'xgb_mod': XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
                colsample_bynode=1, colsample_bytree=1, gamma=0,
                learning_rate=0.1, max_delta_step=0, max_depth=2,
                min_child_weight=1, missing=nan, n_estimators=4, n_jobs=1,
                nthread=None, objective='binary:logistic', random_state=0,
                reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
                silent=None, subsample=1, verbosity=1),
  'outcome': 'any_goal_post_50',
  'features': ['goals_pre_5m',
   'goals_5m_to_10m',
   'goals_10m_to_15m',
   'goals_15m_to_20m',
   'goals_20m_to_25m',
   'goals_25m_to_30m',
   'goals_30m_to_35m',
   'goals_35m_to_40m',
   'goals_40m_to_45m',
   'goals_45m_to_50m',
   'home_goals_pre_5m',
   'home_goals_5m_to_10m',
   'home_goals_10m_to_15m',
   'home_goals_15m_to_20m',
   'home_goals_20m_to_25m',
   'home_goals_25m_to_30m',
   'home_goals_30m_to_35m',
   'home_goals_35m_to_40m',
   'home_goals_40m_to_45m',
   'home_goals_45m_to_50m',
   'away_goals_pre_5m',
   'away_goals_5m_to_10m',
   'away_goals_10m_to_15m',
   'away_goals_15m_to_20m',
   'away_goals_20m_to_25m',
   'away_goals_25m_to_30m',
   'away_goals_30m_to_35m',
   'away_goals_35m_to_40m',
   'away_goals_40m_to_45m',
   'away_goals_45m_to_50m',
   'goal_diff_at_50',
   'abs_goal_diff_at_50',
   'year',
   'month',
   'comp_rc'],
  'train_rc_comp':                competition_name_rc   comp_rc
  0          Australian A-League Men  0.759473
  1              Austrian Bundesliga  0.792638
  2       Belgian Jupiler Pro League  0.789088
  3               Danish Superligaen  0.742888
  4                 Dutch Eredivisie  0.799123
  5                   English FA Cup  0.780531
  6   English Football League Trophy  0.833046
  7          English National League  0.744883
  8           English National North  0.749271
  9           English National South  0.767133
  10          English Premier League  0.745815
  11                  French Ligue 1  0.756303
  12               German Bundesliga  0.782288
  13              Greek Super League  0.686373
  14                  Internationals  0.661451
  15                 Italian Serie A  0.756675
  16                 Italian Serie B  0.678141
  17              Japanese J1 League  0.737906
  18           Norwegian Eliteserien  0.786463
  19                           Other  0.739590
  20              Polish Ekstraklasa  0.744398
  21        Portuguese Primeira Liga  0.717375
  22           Scottish Championship  0.737578
  23             Scottish League One  0.788217
  24             Scottish League Two  0.752294
  25            Scottish Premiership  0.743056
  26            Sky Bet Championship  0.726639
  27              Sky Bet League One  0.744011
  28              Sky Bet League Two  0.724965
  29                 Spanish La Liga  0.743786
  30             Swedish Allsvenskan  0.752137
  31              Swiss Super League  0.793341
  32               Turkish Super Lig  0.787456
  33           UEFA Champions League  0.789831
  34              UEFA Europa League  0.743678
  35   UEFA Europa League Qualifying  0.700122
  36          US Major League Soccer  0.782561
  37            Welsh Premier League  0.776156,
  'train_rc_comp_year':          competition_name_rc  year  comp_year_rc
  0    Australian A-League Men  2014      0.000000
  1    Australian A-League Men  2015      0.000000
  2    Australian A-League Men  2016      0.000000
  3    Australian A-League Men  2017      0.765625
  4    Australian A-League Men  2018      0.784314
  ..                       ...   ...           ...
  307     Welsh Premier League  2018      0.806818
  308     Welsh Premier League  2019      0.783951
  309     Welsh Premier League  2020      0.816514
  310     Welsh Premier League  2021      0.769697
  311     Welsh Premier League  2022      0.802469

  [312 rows x 3 columns]},
 'any_goal_post_60': {'lin_mod': <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x7fab4a67b048>,
  'rf_mod': RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                         max_depth=4, max_features='auto', max_leaf_nodes=None,
                         min_impurity_decrease=0.0, min_impurity_split=None,
                         min_samples_leaf=8, min_samples_split=2,
                         min_weight_fraction_leaf=0.0, n_estimators=32,
                         n_jobs=None, oob_score=False, random_state=None,
                         verbose=0, warm_start=False),
  'xgb_mod': XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
                colsample_bynode=1, colsample_bytree=1, gamma=0,
                learning_rate=0.1, max_delta_step=0, max_depth=4,
                min_child_weight=1, missing=nan, n_estimators=4, n_jobs=1,
                nthread=None, objective='binary:logistic', random_state=0,
                reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
                silent=None, subsample=1, verbosity=1),
  'outcome': 'any_goal_post_60',
  'features': ['goals_pre_5m',
   'goals_5m_to_10m',
   'goals_10m_to_15m',
   'goals_15m_to_20m',
   'goals_20m_to_25m',
   'goals_25m_to_30m',
   'goals_30m_to_35m',
   'goals_35m_to_40m',
   'goals_40m_to_45m',
   'goals_45m_to_50m',
   'goals_50m_to_55m',
   'goals_55m_to_60m',
   'home_goals_pre_5m',
   'home_goals_5m_to_10m',
   'home_goals_10m_to_15m',
   'home_goals_15m_to_20m',
   'home_goals_20m_to_25m',
   'home_goals_25m_to_30m',
   'home_goals_30m_to_35m',
   'home_goals_35m_to_40m',
   'home_goals_40m_to_45m',
   'home_goals_45m_to_50m',
   'home_goals_50m_to_55m',
   'home_goals_55m_to_60m',
   'away_goals_pre_5m',
   'away_goals_5m_to_10m',
   'away_goals_10m_to_15m',
   'away_goals_15m_to_20m',
   'away_goals_20m_to_25m',
   'away_goals_25m_to_30m',
   'away_goals_30m_to_35m',
   'away_goals_35m_to_40m',
   'away_goals_40m_to_45m',
   'away_goals_45m_to_50m',
   'away_goals_50m_to_55m',
   'away_goals_55m_to_60m',
   'goal_diff_at_60',
   'abs_goal_diff_at_60',
   'year',
   'month',
   'comp_rc'],
  'train_rc_comp':                competition_name_rc   comp_rc
  0          Australian A-League Men  0.668317
  1              Austrian Bundesliga  0.710976
  2       Belgian Jupiler Pro League  0.701082
  3               Danish Superligaen  0.640127
  4                 Dutch Eredivisie  0.705797
  5                   English FA Cup  0.702422
  6   English Football League Trophy  0.770175
  7          English National League  0.663781
  8           English National North  0.644507
  9           English National South  0.683019
  10          English Premier League  0.663132
  11                  French Ligue 1  0.671537
  12               German Bundesliga  0.702948
  13              Greek Super League  0.599401
  14                  Internationals  0.588921
  15                 Italian Serie A  0.687577
  16                 Italian Serie B  0.597950
  17              Japanese J1 League  0.670740
  18           Norwegian Eliteserien  0.712524
  19                           Other  0.652814
  20              Polish Ekstraklasa  0.643813
  21        Portuguese Primeira Liga  0.632047
  22           Scottish Championship  0.646880
  23             Scottish League One  0.695238
  24             Scottish League Two  0.650298
  25            Scottish Premiership  0.662116
  26            Sky Bet Championship  0.637340
  27              Sky Bet League One  0.638496
  28              Sky Bet League Two  0.630325
  29                 Spanish La Liga  0.645264
  30             Swedish Allsvenskan  0.669811
  31              Swiss Super League  0.720957
  32               Turkish Super Lig  0.708861
  33           UEFA Champions League  0.702847
  34              UEFA Europa League  0.667800
  35   UEFA Europa League Qualifying  0.633588
  36          US Major League Soccer  0.687668
  37            Welsh Premier League  0.708651,
  'train_rc_comp_year':          competition_name_rc  year  comp_year_rc
  0    Australian A-League Men  2014      0.000000
  1    Australian A-League Men  2015      0.000000
  2    Australian A-League Men  2016      0.000000
  3    Australian A-League Men  2017      0.607143
  4    Australian A-League Men  2018      0.750000
  ..                       ...   ...           ...
  308     Welsh Premier League  2018      0.758621
  309     Welsh Premier League  2019      0.743243
  310     Welsh Premier League  2020      0.787037
  311     Welsh Premier League  2021      0.666667
  312     Welsh Premier League  2022      0.687898

  [313 rows x 3 columns]},
 'any_goal_post_70': {'lin_mod': <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x7fab4b54d438>,
  'rf_mod': RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                         max_depth=4, max_features='auto', max_leaf_nodes=None,
                         min_impurity_decrease=0.0, min_impurity_split=None,
                         min_samples_leaf=8, min_samples_split=2,
                         min_weight_fraction_leaf=0.0, n_estimators=64,
                         n_jobs=None, oob_score=False, random_state=None,
                         verbose=0, warm_start=False),
  'xgb_mod': XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
                colsample_bynode=1, colsample_bytree=1, gamma=0,
                learning_rate=0.1, max_delta_step=0, max_depth=2,
                min_child_weight=1, missing=nan, n_estimators=4, n_jobs=1,
                nthread=None, objective='binary:logistic', random_state=0,
                reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
                silent=None, subsample=1, verbosity=1),
  'outcome': 'any_goal_post_70',
  'features': ['goals_pre_5m',
   'goals_5m_to_10m',
   'goals_10m_to_15m',
   'goals_15m_to_20m',
   'goals_20m_to_25m',
   'goals_25m_to_30m',
   'goals_30m_to_35m',
   'goals_35m_to_40m',
   'goals_40m_to_45m',
   'goals_45m_to_50m',
   'goals_50m_to_55m',
   'goals_55m_to_60m',
   'goals_60m_to_65m',
   'goals_65m_to_70m',
   'home_goals_pre_5m',
   'home_goals_5m_to_10m',
   'home_goals_10m_to_15m',
   'home_goals_15m_to_20m',
   'home_goals_20m_to_25m',
   'home_goals_25m_to_30m',
   'home_goals_30m_to_35m',
   'home_goals_35m_to_40m',
   'home_goals_40m_to_45m',
   'home_goals_45m_to_50m',
   'home_goals_50m_to_55m',
   'home_goals_55m_to_60m',
   'home_goals_60m_to_65m',
   'home_goals_65m_to_70m',
   'away_goals_pre_5m',
   'away_goals_5m_to_10m',
   'away_goals_10m_to_15m',
   'away_goals_15m_to_20m',
   'away_goals_20m_to_25m',
   'away_goals_25m_to_30m',
   'away_goals_30m_to_35m',
   'away_goals_35m_to_40m',
   'away_goals_40m_to_45m',
   'away_goals_45m_to_50m',
   'away_goals_50m_to_55m',
   'away_goals_55m_to_60m',
   'away_goals_60m_to_65m',
   'away_goals_65m_to_70m',
   'goal_diff_at_70',
   'abs_goal_diff_at_70',
   'year',
   'month',
   'comp_rc'],
  'train_rc_comp':                competition_name_rc   comp_rc
  0          Australian A-League Men  0.526403
  1              Austrian Bundesliga  0.623279
  2       Belgian Jupiler Pro League  0.613523
  3               Danish Superligaen  0.542105
  4                 Dutch Eredivisie  0.609738
  5                   English FA Cup  0.590592
  6   English Football League Trophy  0.630742
  7          English National League  0.549860
  8           English National North  0.523877
  9           English National South  0.562033
  10          English Premier League  0.556316
  11                  French Ligue 1  0.548450
  12               German Bundesliga  0.592284
  13              Greek Super League  0.493428
  14                  Internationals  0.477143
  15                 Italian Serie A  0.558041
  16                 Italian Serie B  0.470689
  17              Japanese J1 League  0.547742
  18           Norwegian Eliteserien  0.584366
  19                           Other  0.542053
  20              Polish Ekstraklasa  0.548891
  21        Portuguese Primeira Liga  0.530067
  22           Scottish Championship  0.509893
  23             Scottish League One  0.572816
  24             Scottish League Two  0.529940
  25            Scottish Premiership  0.508532
  26            Sky Bet Championship  0.528631
  27              Sky Bet League One  0.529412
  28              Sky Bet League Two  0.497220
  29                 Spanish La Liga  0.542176
  30             Swedish Allsvenskan  0.555556
  31              Swiss Super League  0.619318
  32               Turkish Super Lig  0.592226
  33           UEFA Champions League  0.586995
  34              UEFA Europa League  0.540257
  35   UEFA Europa League Qualifying  0.498141
  36          US Major League Soccer  0.565635
  37            Welsh Premier League  0.599004,
  'train_rc_comp_year':          competition_name_rc  year  comp_year_rc
  0    Australian A-League Men  2014      0.000000
  1    Australian A-League Men  2015      0.000000
  2    Australian A-League Men  2016      0.000000
  3    Australian A-League Men  2017      0.500000
  4    Australian A-League Men  2018      0.545455
  ..                       ...   ...           ...
  307     Welsh Premier League  2018      0.680851
  308     Welsh Premier League  2019      0.603659
  309     Welsh Premier League  2020      0.598039
  310     Welsh Premier League  2021      0.593548
  311     Welsh Premier League  2022      0.594937

  [312 rows x 3 columns]},
 'any_goal_post_75': {'lin_mod': <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x7fab4b58f6a0>,
  'rf_mod': RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                         max_depth=4, max_features='auto', max_leaf_nodes=None,
                         min_impurity_decrease=0.0, min_impurity_split=None,
                         min_samples_leaf=2, min_samples_split=2,
                         min_weight_fraction_leaf=0.0, n_estimators=16,
                         n_jobs=None, oob_score=False, random_state=None,
                         verbose=0, warm_start=False),
  'xgb_mod': XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
                colsample_bynode=1, colsample_bytree=1, gamma=0,
                learning_rate=0.1, max_delta_step=0, max_depth=2,
                min_child_weight=1, missing=nan, n_estimators=4, n_jobs=1,
                nthread=None, objective='binary:logistic', random_state=0,
                reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
                silent=None, subsample=1, verbosity=1),
  'outcome': 'any_goal_post_75',
  'features': ['goals_pre_5m',
   'goals_5m_to_10m',
   'goals_10m_to_15m',
   'goals_15m_to_20m',
   'goals_20m_to_25m',
   'goals_25m_to_30m',
   'goals_30m_to_35m',
   'goals_35m_to_40m',
   'goals_40m_to_45m',
   'goals_45m_to_50m',
   'goals_50m_to_55m',
   'goals_55m_to_60m',
   'goals_60m_to_65m',
   'goals_65m_to_70m',
   'goals_70m_to_75m',
   'home_goals_pre_5m',
   'home_goals_5m_to_10m',
   'home_goals_10m_to_15m',
   'home_goals_15m_to_20m',
   'home_goals_20m_to_25m',
   'home_goals_25m_to_30m',
   'home_goals_30m_to_35m',
   'home_goals_35m_to_40m',
   'home_goals_40m_to_45m',
   'home_goals_45m_to_50m',
   'home_goals_50m_to_55m',
   'home_goals_55m_to_60m',
   'home_goals_60m_to_65m',
   'home_goals_65m_to_70m',
   'home_goals_70m_to_75m',
   'away_goals_pre_5m',
   'away_goals_5m_to_10m',
   'away_goals_10m_to_15m',
   'away_goals_15m_to_20m',
   'away_goals_20m_to_25m',
   'away_goals_25m_to_30m',
   'away_goals_30m_to_35m',
   'away_goals_35m_to_40m',
   'away_goals_40m_to_45m',
   'away_goals_45m_to_50m',
   'away_goals_50m_to_55m',
   'away_goals_55m_to_60m',
   'away_goals_60m_to_65m',
   'away_goals_65m_to_70m',
   'away_goals_70m_to_75m',
   'goal_diff_at_75',
   'abs_goal_diff_at_75',
   'year',
   'month',
   'comp_rc'],
  'train_rc_comp':                competition_name_rc   comp_rc
  0          Australian A-League Men  0.469453
  1              Austrian Bundesliga  0.551122
  2       Belgian Jupiler Pro League  0.540833
  3               Danish Superligaen  0.458244
  4                 Dutch Eredivisie  0.535714
  5                   English FA Cup  0.530541
  6   English Football League Trophy  0.573684
  7          English National League  0.480383
  8           English National North  0.458364
  9           English National South  0.505287
  10          English Premier League  0.468204
  11                  French Ligue 1  0.477023
  12               German Bundesliga  0.530940
  13              Greek Super League  0.422961
  14                  Internationals  0.387574
  15                 Italian Serie A  0.483969
  16                 Italian Serie B  0.408281
  17              Japanese J1 League  0.481588
  18           Norwegian Eliteserien  0.524038
  19                           Other  0.471689
  20              Polish Ekstraklasa  0.469507
  21        Portuguese Primeira Liga  0.454282
  22           Scottish Championship  0.437695
  23             Scottish League One  0.480064
  24             Scottish League Two  0.460857
  25            Scottish Premiership  0.437639
  26            Sky Bet Championship  0.447584
  27              Sky Bet League One  0.458876
  28              Sky Bet League Two  0.440631
  29                 Spanish La Liga  0.469478
  30             Swedish Allsvenskan  0.488868
  31              Swiss Super League  0.532571
  32               Turkish Super Lig  0.515906
  33           UEFA Champions League  0.521053
  34              UEFA Europa League  0.452023
  35   UEFA Europa League Qualifying  0.438575
  36          US Major League Soccer  0.500808
  37            Welsh Premier League  0.518012,
  'train_rc_comp_year':          competition_name_rc  year  comp_year_rc
  0    Australian A-League Men  2014      0.000000
  1    Australian A-League Men  2015      0.000000
  2    Australian A-League Men  2016      0.000000
  3    Australian A-League Men  2017      0.437500
  4    Australian A-League Men  2018      0.534483
  ..                       ...   ...           ...
  307     Welsh Premier League  2018      0.560000
  308     Welsh Premier League  2019      0.532895
  309     Welsh Premier League  2020      0.539216
  310     Welsh Premier League  2021      0.503185
  311     Welsh Premier League  2022      0.480000

  [312 rows x 3 columns]},
 'any_goal_post_80': {'lin_mod': <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x7fab4a6bf9e8>,
  'rf_mod': RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                         max_depth=4, max_features='auto', max_leaf_nodes=None,
                         min_impurity_decrease=0.0, min_impurity_split=None,
                         min_samples_leaf=2, min_samples_split=2,
                         min_weight_fraction_leaf=0.0, n_estimators=16,
                         n_jobs=None, oob_score=False, random_state=None,
                         verbose=0, warm_start=False),
  'xgb_mod': XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
                colsample_bynode=1, colsample_bytree=1, gamma=0,
                learning_rate=0.1, max_delta_step=0, max_depth=2,
                min_child_weight=1, missing=nan, n_estimators=16, n_jobs=1,

In [36]:
prediction_times = [50, 60, 70, 75, 80, 85]
model_data_1_with_preds = []
model_data_2_with_preds = []
for p in prediction_times:
    model_data_1_sub = viable_matches_with_model_data1[viable_matches_with_model_data1['next_prediction_time']==p]
    model_data_2_sub = viable_matches_with_model_data2[viable_matches_with_model_data2['next_prediction_time']==p]

    train_rc_comp = models_dicts[f'any_goal_post_{p}']['train_rc_comp']

    model_data_1_sub['competition_name_rc'] = model_data_1_sub['competition_name']
    model_data_1_sub.loc[~model_data_1_sub['competition_name'].isin(train_rc_comp['competition_name_rc']), 'competition_name_rc'] = 'Other'
    model_data_1_sub = model_data_1_sub.merge(train_rc_comp, how='left', on='competition_name_rc')

    model_data_2_sub['competition_name_rc'] = model_data_2_sub['competition_name']
    model_data_2_sub.loc[~model_data_2_sub['competition_name'].isin(train_rc_comp['competition_name_rc']), 'competition_name_rc'] = 'Other'
    model_data_2_sub = model_data_2_sub.merge(train_rc_comp, how='left', on='competition_name_rc')
    
    model_data_1_sub = model_data_1_sub[model_data_1_sub[models_dicts[f'any_goal_post_{p}']['features']].isnull().sum(axis=1)==0]
    model_data_2_sub = model_data_2_sub[model_data_2_sub[models_dicts[f'any_goal_post_{p}']['features']].isnull().sum(axis=1)==0]
    
    if len(model_data_1_sub) > 0:
        model_data_1_sub['lm_preds'] = models_dicts[f'any_goal_post_{p}']['lin_mod'].predict(sm.add_constant(model_data_1_sub[models_dicts[f'any_goal_post_{p}']['features']], has_constant='add'))
        model_data_1_sub['rf_preds'] = models_dicts[f'any_goal_post_{p}']['rf_mod'].predict_proba(model_data_1_sub[models_dicts[f'any_goal_post_{p}']['features']])[:, 1]
        model_data_1_sub['xgb_preds'] = models_dicts[f'any_goal_post_{p}']['xgb_mod'].predict_proba(model_data_1_sub[models_dicts[f'any_goal_post_{p}']['features']])[:, 1]
    
    if len(model_data_2_sub) > 0:
        model_data_2_sub['lm_preds'] = models_dicts[f'any_goal_post_{p}']['lin_mod'].predict(sm.add_constant(model_data_2_sub[models_dicts[f'any_goal_post_{p}']['features']], has_constant='add'))
        model_data_2_sub['rf_preds'] = models_dicts[f'any_goal_post_{p}']['rf_mod'].predict_proba(model_data_2_sub[models_dicts[f'any_goal_post_{p}']['features']])[:, 1]
        model_data_2_sub['xgb_preds'] = models_dicts[f'any_goal_post_{p}']['xgb_mod'].predict_proba(model_data_2_sub[models_dicts[f'any_goal_post_{p}']['features']])[:, 1]
    
    model_data_1_with_preds.append(model_data_1_sub)
    model_data_2_with_preds.append(model_data_2_sub)
    
model_data_1_with_preds = pd.concat(model_data_1_with_preds, axis=0)
model_data_2_with_preds = pd.concat(model_data_2_with_preds, axis=0)

/home/angus/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)
/home/angus/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)
/home/angus/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)
/home/angus/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)
/home/angus/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)
/home/angus/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)
/home/angus/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)
/home/angus/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)
/home/angus/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)
/home/angus/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)
/home/angus/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)
/home/angus/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2495: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [37]:
model_data_1_with_preds['lm_odds_over'] = 1/model_data_1_with_preds['lm_preds']
model_data_1_with_preds['rf_odds_over'] = 1/model_data_1_with_preds['rf_preds']
model_data_1_with_preds['xgb_odds_over'] = 1/model_data_1_with_preds['xgb_preds']

In [38]:
model_data_2_with_preds['lm_odds_over'] = 1/model_data_2_with_preds['lm_preds']
model_data_2_with_preds['rf_odds_over'] = 1/model_data_2_with_preds['rf_preds']
model_data_2_with_preds['xgb_odds_over'] = 1/model_data_2_with_preds['xgb_preds']

In [39]:
model_data_1_with_preds['lm_odds_under'] = 1/(1-model_data_1_with_preds['lm_preds'])
model_data_1_with_preds['rf_odds_under'] = 1/(1-model_data_1_with_preds['rf_preds'])
model_data_1_with_preds['xgb_odds_under'] = 1/(1-model_data_1_with_preds['xgb_preds'])

In [40]:
model_data_2_with_preds['lm_odds_under'] = 1/(1-model_data_2_with_preds['lm_preds'])
model_data_2_with_preds['rf_odds_under'] = 1/(1-model_data_2_with_preds['rf_preds'])
model_data_2_with_preds['xgb_odds_under'] = 1/(1-model_data_2_with_preds['xgb_preds'])

In [41]:
model_data_3_with_preds = viable_matches_with_model_data3.copy()

model_data_4_with_preds = viable_matches_with_model_data4.copy()

In [42]:
model_data_1_with_preds.shape

(461, 377)

In [43]:
model_data_1_with_preds.groupby(['match_ref', 'next_prediction_time']).head(1).shape

(324, 377)

In [44]:
# remove duplicate market_id and datetime_utc to remove error where placing wrong bets
remove_duplicates = True
if remove_duplicates:
    market_datetime_counts1 = model_data_1_with_preds.groupby(['market_id', 'datetime_utc']).size().reset_index().rename(columns={0:'count'})
    market_datetime_counts2 = model_data_2_with_preds.groupby(['market_id', 'datetime_utc']).size().reset_index().rename(columns={0:'count'})
    market_datetime_counts3 = model_data_3_with_preds.groupby(['market_id', 'datetime_utc']).size().reset_index().rename(columns={0:'count'})
    market_datetime_counts4 = model_data_4_with_preds.groupby(['market_id', 'datetime_utc']).size().reset_index().rename(columns={0:'count'})
    
    model_data_1_with_preds = model_data_1_with_preds[
        ~model_data_1_with_preds['market_id'].isin(market_datetime_counts1.loc[market_datetime_counts1['count']>1, 'market_id'])]
    model_data_2_with_preds = model_data_2_with_preds[
        ~model_data_2_with_preds['market_id'].isin(market_datetime_counts2.loc[market_datetime_counts2['count']>1, 'market_id'])]
    model_data_3_with_preds = model_data_3_with_preds[
        ~model_data_3_with_preds['market_id'].isin(market_datetime_counts3.loc[market_datetime_counts3['count']>1, 'market_id'])]
    model_data_4_with_preds = model_data_4_with_preds[
        ~model_data_4_with_preds['market_id'].isin(market_datetime_counts4.loc[market_datetime_counts4['count']>1, 'market_id'])]
    
    print(f"""Removed {sum(market_datetime_counts1['count']>1)}, {sum(market_datetime_counts2['count']>1)},\
          {sum(market_datetime_counts3['count']>1)}, {sum(market_datetime_counts4['count']>1)}""")

Removed 0, 0,          35, 12

In [45]:
first_or_last = 'first'

if first_or_last == 'first':
    
    model_data_1_with_preds_unique = model_data_1_with_preds.groupby(['match_ref', 'next_prediction_time']).head(1)
    model_data_2_with_preds_unique = model_data_2_with_preds.groupby(['match_ref', 'next_prediction_time']).head(1)
    model_data_2_with_preds_unique = model_data_2_with_preds_unique[model_data_2_with_preds_unique[f'goals_post_50m_added_on_data'].notnull()]

    model_data_3_with_preds_unique = model_data_3_with_preds.groupby(['match_ref', 'next_prediction_time']).head(1)
    model_data_3_with_preds_unique = model_data_3_with_preds_unique[model_data_3_with_preds_unique[f'goals_post_50m_added_on_data'].notnull()]
    
    model_data_4_with_preds_unique = model_data_4_with_preds.groupby(['match_ref', 'next_prediction_time']).head(1)
    model_data_4_with_preds_unique = model_data_4_with_preds_unique[model_data_4_with_preds_unique[f'goals_post_50m_added_on_data'].notnull()]

else:
    model_data_1_with_preds_unique = model_data_1_with_preds.groupby(['match_ref', 'next_prediction_time']).tail(1)
    model_data_2_with_preds_unique = model_data_2_with_preds.groupby(['match_ref', 'next_prediction_time']).tail(1)
    model_data_2_with_preds_unique = model_data_2_with_preds_unique[model_data_2_with_preds_unique[f'goals_post_50m_added_on_data'].notnull()]

    model_data_3_with_preds_unique = model_data_3_with_preds.groupby(['match_ref', 'next_prediction_time']).tail(1)
    model_data_3_with_preds_unique = model_data_3_with_preds_unique[model_data_3_with_preds_unique[f'goals_post_50m_added_on_data'].notnull()]
    
    model_data_4_with_preds_unique = model_data_4_with_preds.groupby(['match_ref', 'next_prediction_time']).tail(1)
    model_data_4_with_preds_unique = model_data_4_with_preds_unique[model_data_4_with_preds_unique[f'goals_post_50m_added_on_data'].notnull()]

In [46]:
model_data_3_with_preds_unique.shape

(148, 518)

In [47]:
model_data_3_with_preds_unique.shape

(148, 518)

In [101]:
back_lay_max_pc = 0.1
odds_gap_min = 0.0

model_data_1_with_preds_unique['action'] = 'None'

model_data_1_with_preds_unique.loc[
    (model_data_1_with_preds_unique['lm_odds_over']*(1+odds_gap_min)<model_data_1_with_preds_unique['actual_odds_over_back_1']) &
    (model_data_1_with_preds_unique['rf_odds_over']*(1+odds_gap_min)<model_data_1_with_preds_unique['actual_odds_over_back_1']) &
    (model_data_1_with_preds_unique['actual_odds_over_lay_1']/model_data_1_with_preds_unique['actual_odds_over_back_1'] < (1 + back_lay_max_pc)), 'action'] = 'over'

model_data_1_with_preds_unique.loc[
    (model_data_1_with_preds_unique['lm_odds_under']*(1+odds_gap_min)<model_data_1_with_preds_unique['actual_odds_under_back_1']) &
    (model_data_1_with_preds_unique['rf_odds_under']*(1+odds_gap_min)<model_data_1_with_preds_unique['actual_odds_under_back_1']) &
    (model_data_1_with_preds_unique['actual_odds_under_lay_1']/model_data_1_with_preds_unique['actual_odds_under_back_1'] < (1 + back_lay_max_pc)), 'action'] = 'under'

In [102]:
model_data_2_with_preds_unique['action'] = 'None'

model_data_2_with_preds_unique.loc[
    (model_data_2_with_preds_unique['lm_odds_over']*(1+odds_gap_min)<model_data_2_with_preds_unique['actual_odds_over_back_1']) &
    (model_data_2_with_preds_unique['rf_odds_over']*(1+odds_gap_min)<model_data_2_with_preds_unique['actual_odds_over_back_1']) &
    (model_data_2_with_preds_unique['actual_odds_over_lay_1']/model_data_2_with_preds_unique['actual_odds_over_back_1'] < (1 + back_lay_max_pc)), 'action'] = 'over'

model_data_2_with_preds_unique.loc[
    (model_data_2_with_preds_unique['lm_odds_under']*(1+odds_gap_min)<model_data_2_with_preds_unique['actual_odds_under_back_1']) &
    (model_data_2_with_preds_unique['rf_odds_under']*(1+odds_gap_min)<model_data_2_with_preds_unique['actual_odds_under_back_1']) &
    (model_data_2_with_preds_unique['actual_odds_under_lay_1']/model_data_2_with_preds_unique['actual_odds_under_back_1'] < (1 + back_lay_max_pc)), 'action'] = 'under'

In [103]:
model_data_3_with_preds_unique['action'] = 'None'

model_data_3_with_preds_unique.loc[
    (model_data_3_with_preds_unique['lm_odds_over']*(1+odds_gap_min)<model_data_3_with_preds_unique['actual_odds_over_back_1']) &
    (model_data_3_with_preds_unique['rf_odds_over']*(1+odds_gap_min)<model_data_3_with_preds_unique['actual_odds_over_back_1']) &
    (model_data_3_with_preds_unique['actual_odds_over_lay_1']/model_data_3_with_preds_unique['actual_odds_over_back_1'] < (1 + back_lay_max_pc)), 'action'] = 'over'

model_data_3_with_preds_unique.loc[
    (model_data_3_with_preds_unique['lm_odds_under']*(1+odds_gap_min)<model_data_3_with_preds_unique['actual_odds_under_back_1']) &
    (model_data_3_with_preds_unique['rf_odds_under']*(1+odds_gap_min)<model_data_3_with_preds_unique['actual_odds_under_back_1']) &
    (model_data_3_with_preds_unique['actual_odds_under_lay_1']/model_data_3_with_preds_unique['actual_odds_under_back_1'] < (1 + back_lay_max_pc)), 'action'] = 'under'

In [104]:
model_data_4_with_preds_unique['action'] = 'None'

model_data_4_with_preds_unique.loc[
    (model_data_4_with_preds_unique['lm_odds_over']*(1+odds_gap_min)<model_data_4_with_preds_unique['actual_odds_over_back_1']) &
    (model_data_4_with_preds_unique['rf_odds_over']*(1+odds_gap_min)<model_data_4_with_preds_unique['actual_odds_over_back_1']) &
    (model_data_4_with_preds_unique['actual_odds_over_lay_1']/model_data_4_with_preds_unique['actual_odds_over_back_1'] < (1 + back_lay_max_pc)), 'action'] = 'over'

model_data_4_with_preds_unique.loc[
    (model_data_4_with_preds_unique['lm_odds_under']*(1+odds_gap_min)<model_data_4_with_preds_unique['actual_odds_under_back_1']) &
    (model_data_4_with_preds_unique['rf_odds_under']*(1+odds_gap_min)<model_data_4_with_preds_unique['actual_odds_under_back_1']) &
    (model_data_4_with_preds_unique['actual_odds_under_lay_1']/model_data_4_with_preds_unique['actual_odds_under_back_1'] < (1 + back_lay_max_pc)), 'action'] = 'under'

In [105]:
# need to add outcomes
model_data_1_with_preds_unique['outcome'] = None
model_data_2_with_preds_unique['outcome'] = None
model_data_3_with_preds_unique['outcome'] = None
model_data_4_with_preds_unique['outcome'] = None
for p in prediction_times:
    mask = model_data_1_with_preds_unique['next_prediction_time']==p
    model_data_1_with_preds_unique.loc[mask, 'outcome_orig'] = (model_data_1_with_preds_unique.loc[mask, f'goals_post_{p}m_added_on_data']>0)*1
    
    mask = model_data_2_with_preds_unique['next_prediction_time']==p
    model_data_2_with_preds_unique.loc[mask, 'outcome_orig'] = (model_data_2_with_preds_unique.loc[mask, f'goals_post_{p}m_added_on_data']>0)*1
    
    mask = model_data_3_with_preds_unique['next_prediction_time']==p
    model_data_3_with_preds_unique.loc[mask, 'outcome_orig'] = (model_data_3_with_preds_unique.loc[mask, f'goals_post_{p}m_added_on_data']>0)*1
    
    mask = model_data_4_with_preds_unique['next_prediction_time']==p
    model_data_4_with_preds_unique.loc[mask, 'outcome_orig'] = (model_data_4_with_preds_unique.loc[mask, f'goals_post_{p}m_added_on_data']>0)*1


model_data_1_with_preds_unique['outcome'] = (model_data_1_with_preds_unique['total_goals_added_on_data'] > model_data_1_with_preds_unique['total_goals'])*1
model_data_2_with_preds_unique['outcome'] = (model_data_2_with_preds_unique['total_goals_added_on_data'] > model_data_2_with_preds_unique['total_goals'])*1
model_data_3_with_preds_unique['outcome'] = (model_data_3_with_preds_unique['total_goals_added_on_data'] > model_data_3_with_preds_unique['total_goals'])*1
model_data_4_with_preds_unique['outcome'] = (model_data_4_with_preds_unique['total_goals_added_on_data'] > model_data_4_with_preds_unique['total_goals'])*1

In [106]:
# sum(model_data_1_with_preds_unique['outcome']!=model_data_1_with_preds_unique['outcome_orig'])/len(model_data_1_with_preds_unique)
sum(model_data_2_with_preds_unique['outcome']!=model_data_2_with_preds_unique['outcome_orig'])/len(model_data_2_with_preds_unique)
# sum(model_data_3_with_preds_unique['outcome']!=model_data_3_with_preds_unique['outcome_orig'])/len(model_data_3_with_preds_unique)

0.013921113689095127

In [187]:
model_data_1_with_preds_unique['bet'] = 1
model_data_1_with_preds_unique.loc[model_data_1_with_preds_unique['action'] == 'None', 'bet'] = 0
model_data_1_with_preds_unique['win'] = 0
model_data_1_with_preds_unique.loc[(model_data_1_with_preds_unique['action']=='over') & (model_data_1_with_preds_unique['outcome']==1), 'win'] = 1
model_data_1_with_preds_unique.loc[(model_data_1_with_preds_unique['action']=='under') & (model_data_1_with_preds_unique['outcome']==0), 'win'] = 1

In [188]:
model_data_1_with_preds_unique['bf_odds_to_use_over'] = model_data_1_with_preds_unique['actual_odds_over_back_3']
model_data_1_with_preds_unique.loc[model_data_1_with_preds_unique['bf_odds_to_use_over'].isnull(), 'bf_odds_to_use_over'] = model_data_1_with_preds_unique.loc[
    model_data_1_with_preds_unique['bf_odds_to_use_over'].isnull(), 'actual_odds_over_back_2']
model_data_1_with_preds_unique.loc[model_data_1_with_preds_unique['bf_odds_to_use_over'].isnull(), 'bf_odds_to_use_over'] = model_data_1_with_preds_unique.loc[
    model_data_1_with_preds_unique['bf_odds_to_use_over'].isnull(), 'actual_odds_over_back_1']

model_data_1_with_preds_unique['bf_odds_to_use_under'] = model_data_1_with_preds_unique['actual_odds_under_back_3']
model_data_1_with_preds_unique.loc[model_data_1_with_preds_unique['bf_odds_to_use_under'].isnull(), 'bf_odds_to_use_under'] = model_data_1_with_preds_unique.loc[
    model_data_1_with_preds_unique['bf_odds_to_use_under'].isnull(), 'actual_odds_under_back_2']
model_data_1_with_preds_unique.loc[model_data_1_with_preds_unique['bf_odds_to_use_under'].isnull(), 'bf_odds_to_use_under'] = model_data_1_with_preds_unique.loc[
    model_data_1_with_preds_unique['bf_odds_to_use_under'].isnull(), 'actual_odds_under_back_1']

In [189]:
model_data_2_with_preds_unique['bf_odds_to_use_over'] = model_data_2_with_preds_unique['actual_odds_over_back_3']
model_data_2_with_preds_unique.loc[model_data_2_with_preds_unique['bf_odds_to_use_over'].isnull(), 'bf_odds_to_use_over'] = model_data_2_with_preds_unique.loc[
    model_data_2_with_preds_unique['bf_odds_to_use_over'].isnull(), 'actual_odds_over_back_2']
model_data_2_with_preds_unique.loc[model_data_2_with_preds_unique['bf_odds_to_use_over'].isnull(), 'bf_odds_to_use_over'] = model_data_2_with_preds_unique.loc[
    model_data_2_with_preds_unique['bf_odds_to_use_over'].isnull(), 'actual_odds_over_back_1']

model_data_2_with_preds_unique['bf_odds_to_use_under'] = model_data_2_with_preds_unique['actual_odds_under_back_3']
model_data_2_with_preds_unique.loc[model_data_2_with_preds_unique['bf_odds_to_use_under'].isnull(), 'bf_odds_to_use_under'] = model_data_2_with_preds_unique.loc[
    model_data_2_with_preds_unique['bf_odds_to_use_under'].isnull(), 'actual_odds_under_back_2']
model_data_2_with_preds_unique.loc[model_data_2_with_preds_unique['bf_odds_to_use_under'].isnull(), 'bf_odds_to_use_under'] = model_data_2_with_preds_unique.loc[
    model_data_2_with_preds_unique['bf_odds_to_use_under'].isnull(), 'actual_odds_under_back_1']

In [190]:
model_data_3_with_preds_unique['bf_odds_to_use_over'] = model_data_3_with_preds_unique['actual_odds_over_back_3']
model_data_3_with_preds_unique.loc[model_data_3_with_preds_unique['bf_odds_to_use_over'].isnull(), 'bf_odds_to_use_over'] = model_data_3_with_preds_unique.loc[
    model_data_3_with_preds_unique['bf_odds_to_use_over'].isnull(), 'actual_odds_over_back_2']
model_data_3_with_preds_unique.loc[model_data_3_with_preds_unique['bf_odds_to_use_over'].isnull(), 'bf_odds_to_use_over'] = model_data_3_with_preds_unique.loc[
    model_data_3_with_preds_unique['bf_odds_to_use_over'].isnull(), 'actual_odds_over_back_1']

model_data_3_with_preds_unique['bf_odds_to_use_under'] = model_data_3_with_preds_unique['actual_odds_under_back_3']
model_data_3_with_preds_unique.loc[model_data_3_with_preds_unique['bf_odds_to_use_under'].isnull(), 'bf_odds_to_use_under'] = model_data_3_with_preds_unique.loc[
    model_data_3_with_preds_unique['bf_odds_to_use_under'].isnull(), 'actual_odds_under_back_2']
model_data_3_with_preds_unique.loc[model_data_3_with_preds_unique['bf_odds_to_use_under'].isnull(), 'bf_odds_to_use_under'] = model_data_3_with_preds_unique.loc[
    model_data_3_with_preds_unique['bf_odds_to_use_under'].isnull(), 'actual_odds_under_back_1']

In [191]:
model_data_4_with_preds_unique['bf_odds_to_use_over'] = model_data_4_with_preds_unique['actual_odds_over_back_3']
model_data_4_with_preds_unique.loc[model_data_4_with_preds_unique['bf_odds_to_use_over'].isnull(), 'bf_odds_to_use_over'] = model_data_4_with_preds_unique.loc[
    model_data_4_with_preds_unique['bf_odds_to_use_over'].isnull(), 'actual_odds_over_back_2']
model_data_4_with_preds_unique.loc[model_data_4_with_preds_unique['bf_odds_to_use_over'].isnull(), 'bf_odds_to_use_over'] = model_data_4_with_preds_unique.loc[
    model_data_4_with_preds_unique['bf_odds_to_use_over'].isnull(), 'actual_odds_over_back_1']

model_data_4_with_preds_unique['bf_odds_to_use_under'] = model_data_4_with_preds_unique['actual_odds_under_back_3']
model_data_4_with_preds_unique.loc[model_data_4_with_preds_unique['bf_odds_to_use_under'].isnull(), 'bf_odds_to_use_under'] = model_data_4_with_preds_unique.loc[
    model_data_4_with_preds_unique['bf_odds_to_use_under'].isnull(), 'actual_odds_under_back_2']
model_data_4_with_preds_unique.loc[model_data_4_with_preds_unique['bf_odds_to_use_under'].isnull(), 'bf_odds_to_use_under'] = model_data_4_with_preds_unique.loc[
    model_data_4_with_preds_unique['bf_odds_to_use_under'].isnull(), 'actual_odds_under_back_1']

In [192]:
model_data_1_with_preds_unique['winnings'] = 0

over_win_mask = (model_data_1_with_preds_unique['action']=='over') & (model_data_1_with_preds_unique['win']==1)
model_data_1_with_preds_unique.loc[over_win_mask, 'winnings'] = model_data_1_with_preds_unique.loc[over_win_mask, 'bf_odds_to_use_over']

under_win_mask = (model_data_1_with_preds_unique['action']=='under') & (model_data_1_with_preds_unique['win']==1)
model_data_1_with_preds_unique.loc[under_win_mask, 'winnings'] = model_data_1_with_preds_unique.loc[under_win_mask, 'bf_odds_to_use_under']

In [193]:
model_data_2_with_preds_unique['bet'] = 1
model_data_2_with_preds_unique.loc[model_data_2_with_preds_unique['action'] == 'None', 'bet'] = 0
model_data_2_with_preds_unique['win'] = 0
model_data_2_with_preds_unique.loc[(model_data_2_with_preds_unique['action']=='over') & (model_data_2_with_preds_unique['outcome']==1), 'win'] = 1
model_data_2_with_preds_unique.loc[(model_data_2_with_preds_unique['action']=='under') & (model_data_2_with_preds_unique['outcome']==0), 'win'] = 1

In [194]:
model_data_2_with_preds_unique['winnings'] = 0

over_win_mask = (model_data_2_with_preds_unique['action']=='over') & (model_data_2_with_preds_unique['win']==1)
model_data_2_with_preds_unique.loc[over_win_mask, 'winnings'] = model_data_2_with_preds_unique.loc[over_win_mask, 'bf_odds_to_use_over']

under_win_mask = (model_data_2_with_preds_unique['action']=='under') & (model_data_2_with_preds_unique['win']==1)
model_data_2_with_preds_unique.loc[under_win_mask, 'winnings'] = model_data_2_with_preds_unique.loc[under_win_mask, 'bf_odds_to_use_under']

In [195]:
model_data_3_with_preds_unique['bet'] = 1
model_data_3_with_preds_unique.loc[model_data_3_with_preds_unique['action'] == 'None', 'bet'] = 0
model_data_3_with_preds_unique['win'] = 0
model_data_3_with_preds_unique.loc[(model_data_3_with_preds_unique['action']=='over') & (model_data_3_with_preds_unique['outcome']==1), 'win'] = 1
model_data_3_with_preds_unique.loc[(model_data_3_with_preds_unique['action']=='under') & (model_data_3_with_preds_unique['outcome']==0), 'win'] = 1

In [196]:
model_data_3_with_preds_unique['winnings'] = 0

over_win_mask = (model_data_3_with_preds_unique['action']=='over') & (model_data_3_with_preds_unique['win']==1)
model_data_3_with_preds_unique.loc[over_win_mask, 'winnings'] = model_data_3_with_preds_unique.loc[over_win_mask, 'bf_odds_to_use_over']

under_win_mask = (model_data_3_with_preds_unique['action']=='under') & (model_data_3_with_preds_unique['win']==1)
model_data_3_with_preds_unique.loc[under_win_mask, 'winnings'] = model_data_3_with_preds_unique.loc[under_win_mask, 'bf_odds_to_use_under']

In [197]:
model_data_4_with_preds_unique['bet'] = 1
model_data_4_with_preds_unique.loc[model_data_4_with_preds_unique['action'] == 'None', 'bet'] = 0
model_data_4_with_preds_unique['win'] = 0
model_data_4_with_preds_unique.loc[(model_data_4_with_preds_unique['action']=='over') & (model_data_4_with_preds_unique['outcome']==1), 'win'] = 1
model_data_4_with_preds_unique.loc[(model_data_4_with_preds_unique['action']=='under') & (model_data_4_with_preds_unique['outcome']==0), 'win'] = 1

In [198]:
model_data_4_with_preds_unique['winnings'] = 0

over_win_mask = (model_data_4_with_preds_unique['action']=='over') & (model_data_4_with_preds_unique['win']==1)
model_data_4_with_preds_unique.loc[over_win_mask, 'winnings'] = model_data_4_with_preds_unique.loc[over_win_mask, 'bf_odds_to_use_over']

under_win_mask = (model_data_4_with_preds_unique['action']=='under') & (model_data_4_with_preds_unique['win']==1)
model_data_4_with_preds_unique.loc[under_win_mask, 'winnings'] = model_data_4_with_preds_unique.loc[under_win_mask, 'bf_odds_to_use_under']

In [199]:
max_bet = 100
model_data_1_with_preds_unique['max_bet_amount'] = 0

under_mask = model_data_1_with_preds_unique['action']=='under'
model_data_1_with_preds_unique.loc[under_mask, 'max_bet_amount'] = model_data_1_with_preds_unique.loc[under_mask, 'size_under_back_1'].apply(lambda x: min(x, max_bet))

over_mask = model_data_1_with_preds_unique['action']=='over'
model_data_1_with_preds_unique.loc[over_mask, 'max_bet_amount'] = model_data_1_with_preds_unique.loc[over_mask, 'size_over_back_1'].apply(lambda x: min(x, max_bet))

model_data_1_with_preds_unique['max_winnings'] = model_data_1_with_preds_unique['max_bet_amount']*model_data_1_with_preds_unique['winnings']

model_data_1_with_preds_unique['profit'] = model_data_1_with_preds_unique['winnings'] - model_data_1_with_preds_unique['bet']
model_data_1_with_preds_unique['max_profit'] = model_data_1_with_preds_unique['max_winnings'] - model_data_1_with_preds_unique['max_bet_amount']

In [200]:
model_data_2_with_preds_unique['max_bet_amount'] = 0

under_mask = model_data_2_with_preds_unique['action']=='under'
model_data_2_with_preds_unique.loc[under_mask, 'max_bet_amount'] = model_data_2_with_preds_unique.loc[under_mask, 'size_under_back_1'].apply(lambda x: min(x, max_bet))

over_mask = model_data_2_with_preds_unique['action']=='over'
model_data_2_with_preds_unique.loc[over_mask, 'max_bet_amount'] = model_data_2_with_preds_unique.loc[over_mask, 'size_over_back_1'].apply(lambda x: min(x, max_bet))

model_data_2_with_preds_unique['max_winnings'] = model_data_2_with_preds_unique['max_bet_amount']*model_data_2_with_preds_unique['winnings']

model_data_2_with_preds_unique['profit'] = model_data_2_with_preds_unique['winnings'] - model_data_2_with_preds_unique['bet']
model_data_2_with_preds_unique['max_profit'] = model_data_2_with_preds_unique['max_winnings'] - model_data_2_with_preds_unique['max_bet_amount']

In [201]:
model_data_3_with_preds_unique['max_bet_amount'] = 0

under_mask = model_data_3_with_preds_unique['action']=='under'
model_data_3_with_preds_unique.loc[under_mask, 'max_bet_amount'] = model_data_3_with_preds_unique.loc[under_mask, 'size_under_back_1'].apply(lambda x: min(x, max_bet))

over_mask = model_data_3_with_preds_unique['action']=='over'
model_data_3_with_preds_unique.loc[over_mask, 'max_bet_amount'] = model_data_3_with_preds_unique.loc[over_mask, 'size_over_back_1'].apply(lambda x: min(x, max_bet))

model_data_3_with_preds_unique['max_winnings'] = model_data_3_with_preds_unique['max_bet_amount']*model_data_3_with_preds_unique['winnings']

model_data_3_with_preds_unique['profit'] = model_data_3_with_preds_unique['winnings'] - model_data_3_with_preds_unique['bet']
model_data_3_with_preds_unique['max_profit'] = model_data_3_with_preds_unique['max_winnings'] - model_data_3_with_preds_unique['max_bet_amount']

In [202]:
model_data_4_with_preds_unique['max_bet_amount'] = 0

under_mask = model_data_4_with_preds_unique['action']=='under'
model_data_4_with_preds_unique.loc[under_mask, 'max_bet_amount'] = model_data_4_with_preds_unique.loc[under_mask, 'size_under_back_1'].apply(lambda x: min(x, max_bet))

over_mask = model_data_4_with_preds_unique['action']=='over'
model_data_4_with_preds_unique.loc[over_mask, 'max_bet_amount'] = model_data_4_with_preds_unique.loc[over_mask, 'size_over_back_1'].apply(lambda x: min(x, max_bet))

model_data_4_with_preds_unique['max_winnings'] = model_data_4_with_preds_unique['max_bet_amount']*model_data_4_with_preds_unique['winnings']

model_data_4_with_preds_unique['profit'] = model_data_4_with_preds_unique['winnings'] - model_data_4_with_preds_unique['bet']
model_data_4_with_preds_unique['max_profit'] = model_data_4_with_preds_unique['max_winnings'] - model_data_4_with_preds_unique['max_bet_amount']

In [203]:
model_data_1_with_preds_unique.groupby(['next_prediction_time', 'action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

                             match_ref  bet  win  winnings  profit  \
next_prediction_time action
50                   None           22    0    0      0.00    0.00
                     over           20   20   14     20.01    0.01
                     under          12   12    4     17.00    5.00
60                   None           21    0    0      0.00    0.00
                     over           20   20   11     17.85   -2.15
                     under          13   13    4     13.60    0.60
70                   None           16    0    0      0.00    0.00
                     over           15   15    8     17.44    2.44
                     under          23   23   10     23.86    0.86
75                   None           14    0    0      0.00    0.00
                     over           10   10    2      4.48   -5.52
                     under          30   30   19     39.81    9.81
80                   None           13    0    0      0.00    0.00
                     over           13   13    3     10.30   -2.70
                     under          28   28   19     34.28    6.28
85                   None           11    0    0      0.00    0.00
                     over            7    7    1     10.00    3.00
                     under          36   36   25     38.12    2.12

                             max_bet_amount  max_winnings  max_profit
next_prediction_time action
50                   None              0.00        0.0000      0.0000
                     over           1863.13     1812.7075    -50.4225
                     under           838.80     1472.9200    634.1200
60                   None              0.00        0.0000      0.0000
                     over           1731.98     1656.4962    -75.4838
                     under          1050.22     1038.8350    -11.3850
70                   None              0.00        0.0000      0.0000
                     over           1028.98     1186.0937    157.1137
                     under          1743.52     1795.9906     52.4706
75                   None              0.00        0.0000      0.0000
                     over            911.10      448.0000   -463.1000
                     under          2531.72     3088.2230    556.5030
80                   None              0.00        0.0000      0.0000
                     over            844.62      779.0800    -65.5400
                     under          2508.33     3158.1580    649.8280
85                   None              0.00        0.0000      0.0000
                     over            502.86      367.3000   -135.5600
                     under          3162.58     3306.3716    143.7916

In [204]:
model_data_1_with_preds_unique.groupby(['action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

,match_ref,bet,win,winnings,profit,max_bet_amount,max_winnings,max_profit
action,,,,,,,,
None,97,0,0,0.00,0.00,0.00,0.0000,0.0000
over,85,85,39,80.08,-4.92,6882.67,6249.6774,-632.9926
under,142,142,81,166.67,24.67,11835.17,13860.4982,2025.3282

In [205]:
model_data_2_with_preds_unique.groupby(['next_prediction_time', 'action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

                             match_ref  bet  win  winnings  profit  \
next_prediction_time action
50                   None           60    0    0      0.00    0.00
                     over           53   53   42     58.70    5.70
                     under          31   31    9     45.60   14.60
60                   None           58    0    0      0.00    0.00
                     over           47   47   35     55.23    8.23
                     under          39   39   16     55.94   16.94
70                   None           50    0    0      0.00    0.00
                     over           45   45   29     55.47   10.47
                     under          48   48   21     51.96    3.96
75                   None           48    0    0      0.00    0.00
                     over           41   41   20     48.41    7.41
                     under          54   54   30     63.87    9.87
80                   None           52    0    0      0.00    0.00
                     over           42   42   15     41.11   -0.89
                     under          50   50   33     61.18   11.18
85                   None           60    0    0      0.00    0.00
                     over           22   22    8     29.20    7.20
                     under          62   62   49     72.73   10.73

                             max_bet_amount  max_winnings  max_profit
next_prediction_time action
50                   None              0.00        0.0000      0.0000
                     over           4199.27     4795.0203    595.7503
                     under          1746.38     2009.2880    262.9080
60                   None              0.00        0.0000      0.0000
                     over           3533.86     4324.8431    790.9831
                     under          2419.09     3396.7253    977.6353
70                   None              0.00        0.0000      0.0000
                     over           3154.42     3775.3085    620.8885
                     under          3113.07     3404.5850    291.5150
75                   None              0.00        0.0000      0.0000
                     over           2638.48     3446.2194    807.7394
                     under          3401.70     4519.6290   1117.9290
80                   None              0.00        0.0000      0.0000
                     over           2158.70     2980.2216    821.5216
                     under          3495.38     4495.8090   1000.4290
85                   None              0.00        0.0000      0.0000
                     over           1202.40     1710.9800    508.5800
                     under          4583.55     5315.7602    732.2102

In [206]:
model_data_2_with_preds_unique.groupby(['action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

,match_ref,bet,win,winnings,profit,max_bet_amount,max_winnings,max_profit
action,,,,,,,,
None,328,0,0,0.00,0.00,0.00,0.0000,0.0000
over,250,250,149,288.12,38.12,16887.13,21032.5929,4145.4629
under,284,284,158,351.28,67.28,18759.17,23141.7965,4382.6265

In [207]:
model_data_3_with_preds_unique.groupby(['next_prediction_time', 'action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

                             match_ref  bet  win  winnings  profit  \
next_prediction_time action
50                   None            8    0    0      0.00    0.00
                     over           12   12    7     10.56   -1.44
                     under           7    7    4     18.65   11.65
60                   None            8    0    0      0.00    0.00
                     over           11   11    6      9.44   -1.56
                     under           6    6    4     12.46    6.46
70                   None            7    0    0      0.00    0.00
                     over            6    6    2      4.02   -1.98
                     under          10   10    6     14.60    4.60
75                   None           12    0    0      0.00    0.00
                     over            4    4    1      2.32   -1.68
                     under           8    8    7     15.42    7.42
80                   None           10    0    0      0.00    0.00
                     over            7    7    3      8.30    1.30
                     under           7    7    7     12.44    5.44
85                   None            9    0    0      0.00    0.00
                     over            5    5    2      7.55    2.55
                     under          11   11    9     13.69    2.69

                             max_bet_amount  max_winnings  max_profit
next_prediction_time action
50                   None              0.00        0.0000      0.0000
                     over           1005.53      872.1186   -133.4114
                     under           388.86     1218.8720    830.0120
60                   None              0.00        0.0000      0.0000
                     over            810.44      809.5685     -0.8715
                     under           411.27      790.8016    379.5316
70                   None              0.00        0.0000      0.0000
                     over            356.98      163.3902   -193.5898
                     under           807.04     1131.2564    324.2164
75                   None              0.00        0.0000      0.0000
                     over            153.99      136.4392    -17.5508
                     under           770.83     1479.5762    708.7462
80                   None              0.00        0.0000      0.0000
                     over            533.08      543.3310     10.2510
                     under           438.19      792.5279    354.3379
85                   None              0.00        0.0000      0.0000
                     over            395.08      755.0000    359.9200
                     under           867.58     1036.5131    168.9331

In [208]:
model_data_3_with_preds_unique.groupby(['action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

,match_ref,bet,win,winnings,profit,max_bet_amount,max_winnings,max_profit
action,,,,,,,,
None,54,0,0,0.00,0.00,0.00,0.0000,0.0000
over,45,45,21,42.19,-2.81,3255.10,3279.8475,24.7475
under,49,49,37,87.26,38.26,3683.77,6449.5472,2765.7772

In [209]:
model_data_4_with_preds_unique.groupby(['next_prediction_time', 'action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

                             match_ref  bet  win  winnings  profit  \
next_prediction_time action
50                   None          207    0    0      0.00    0.00
                     over          200  200  145    203.68    3.68
                     under          96   96   17     77.95  -18.05
60                   None          193    0    0      0.00    0.00
                     over          154  154   94    161.74    7.74
                     under         139  139   44    151.22   12.22
70                   None          218    0    0      0.00    0.00
                     over          126  126   60    120.48   -5.52
                     under         174  174   77    189.21   15.21
75                   None          183    0    0      0.00    0.00
                     over          117  117   49    112.38   -4.62
                     under         204  204  103    216.72   12.72
80                   None          179    0    0      0.00    0.00
                     over          112  112   40    116.52    4.52
                     under         222  222  145    259.86   37.86
85                   None          170    0    0      0.00    0.00
                     over           61   61   12     55.00   -6.00
                     under         269  269  185    278.20    9.20

                             max_bet_amount  max_winnings  max_profit
next_prediction_time action
50                   None              0.00        0.0000      0.0000
                     over          16934.59    17312.7736    378.1836
                     under          6203.00     4924.5390  -1278.4610
60                   None              0.00        0.0000      0.0000
                     over          12356.15    12425.4272     69.2772
                     under          8882.82     9746.8121    863.9921
70                   None              0.00        0.0000      0.0000
                     over          10097.24     9799.5088   -297.7312
                     under         10904.39    13071.6180   2167.2280
75                   None              0.00        0.0000      0.0000
                     over           8031.53     7893.5444   -137.9856
                     under         14176.20    15797.9843   1621.7843
80                   None              0.00        0.0000      0.0000
                     over           7633.20     7862.5227    229.3227
                     under         16233.06    18694.1845   2461.1245
85                   None              0.00        0.0000      0.0000
                     over           4366.59     3282.9270  -1083.6630
                     under         20444.58    21416.0671    971.4871

In [210]:
model_data_4_with_preds_unique.groupby(['action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

,match_ref,bet,win,winnings,profit,max_bet_amount,max_winnings,max_profit
action,,,,,,,,
None,1150,0,0,0.00,0.00,0.00,0.0000,0.0000
over,770,770,400,769.80,-0.20,59419.30,58576.7037,-842.5963
under,1104,1104,571,1173.16,69.16,76844.05,83651.2050,6807.1550

In [211]:
from_date = '2023-01-28 00:00'
model_data_4_with_preds_unique[model_data_4_with_preds_unique['datetime_utc']>=from_date].groupby(['next_prediction_time', 'action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

                             match_ref  bet  win  winnings  profit  \
next_prediction_time action
50                   None          117    0    0      0.00    0.00
                     over          110  110   81    114.24    4.24
                     under          50   50    9     38.90  -11.10
60                   None          106    0    0      0.00    0.00
                     over           84   84   53     94.20   10.20
                     under          71   71   21     71.10    0.10
70                   None          123    0    0      0.00    0.00
                     over           74   74   40     80.57    6.57
                     under          90   90   36     87.52   -2.48
75                   None          105    0    0      0.00    0.00
                     over           63   63   30     67.95    4.95
                     under         108  108   53    110.84    2.84
80                   None          104    0    0      0.00    0.00
                     over           60   60   23     63.77    3.77
                     under         127  127   86    153.02   26.02
85                   None          104    0    0      0.00    0.00
                     over           24   24    3     21.65   -2.35
                     under         143  143   97    144.90    1.90

                             max_bet_amount  max_winnings  max_profit
next_prediction_time action
50                   None              0.00        0.0000      0.0000
                     over           9166.63     9788.8951    622.2651
                     under          3281.76     2239.0590  -1042.7010
60                   None              0.00        0.0000      0.0000
                     over           6486.99     6665.1205    178.1305
                     under          4211.11     4215.3238      4.2138
70                   None              0.00        0.0000      0.0000
                     over           5872.59     6661.5179    788.9279
                     under          5073.94     5318.8826    244.9426
75                   None              0.00        0.0000      0.0000
                     over           3821.14     4322.3230    501.1830
                     under          7049.55     7612.5280    562.9780
80                   None              0.00        0.0000      0.0000
                     over           3963.55     4446.7527    483.2027
                     under          8738.61    10694.7906   1956.1806
85                   None              0.00        0.0000      0.0000
                     over           1753.68      898.6100   -855.0700
                     under         10907.00    11332.9188    425.9188

In [212]:
model_data_4_with_preds_unique[model_data_4_with_preds_unique['datetime_utc']>=from_date].groupby(['action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

,match_ref,bet,win,winnings,profit,max_bet_amount,max_winnings,max_profit
action,,,,,,,,
None,659,0,0,0.00,0.00,0.00,0.0000,0.0000
over,415,415,230,442.38,27.38,31064.58,32783.2192,1718.6392
under,589,589,302,606.28,17.28,39261.97,41413.5028,2151.5328

In [178]:
min_date = '2023-01-28 00:00' # 1 is Jan 2 to Jan 5, 2 is Jan 6 to Jan 8, 3 is Jan 9 to Jan 13, 4 is Jan 14 on
max_date = '2023-02-28 00:00'

mask_1 = model_data_1_with_preds_unique['datetime_utc'].between(min_date, max_date)
mask_2 = model_data_2_with_preds_unique['datetime_utc'].between(min_date, max_date)
mask_3 = model_data_3_with_preds_unique['datetime_utc'].between(min_date, max_date)
mask_4 = model_data_4_with_preds_unique['datetime_utc'].between(min_date, max_date)

bets = sum(model_data_1_with_preds_unique.loc[mask_1, 'bet']) + sum(model_data_2_with_preds_unique.loc[mask_2, 'bet']) + sum(model_data_3_with_preds_unique.loc[mask_3, 'bet']) + sum(model_data_4_with_preds_unique.loc[mask_4, 'bet'])
wins = sum(model_data_1_with_preds_unique.loc[mask_1, 'win']) + sum(model_data_2_with_preds_unique.loc[mask_2, 'win']) + sum(model_data_3_with_preds_unique.loc[mask_3, 'win']) + sum(model_data_4_with_preds_unique.loc[mask_4, 'win'])
winnings = sum(model_data_1_with_preds_unique.loc[mask_1, 'winnings']) + sum(model_data_2_with_preds_unique.loc[mask_2, 'winnings']) + sum(model_data_3_with_preds_unique.loc[mask_3, 'winnings']) + sum(model_data_4_with_preds_unique.loc[mask_4, 'winnings'])
matches = (len(model_data_1_with_preds_unique.loc[mask_1, 'match_ref'].unique()) + len(model_data_2_with_preds_unique.loc[mask_2, 'match_ref'].unique()) +
           len(model_data_3_with_preds_unique.loc[mask_3, 'match_ref'].unique()) + len(model_data_4_with_preds_unique.loc[mask_4, 'match_ref'].unique()))

In [179]:
print(f'Total bets {bets}, total wins {wins}, total winnings {round(winnings,2)}, profit {round(100*(winnings-bets)/bets - 1,2)}%')

Total bets 1004, total wins 532, total winnings 1082.18, profit 6.79%

In [180]:
expected_wins = int(wins*bets/winnings)
expected_wins

493

In [181]:
expected_p = expected_wins/bets
expected_p

0.4910358565737052

In [182]:
actual_p = wins/bets
actual_p

0.5298804780876494

In [183]:
import scipy.stats as sps
sps.binom.cdf(wins, bets, expected_p)

0.9936792923911102

In [184]:
matches

348

In [185]:
sps.binom.cdf(np.ceil(wins*matches/bets), matches, expected_p)

0.9415254132085051

In [186]:
sps.binom.cdf(np.floor(wins*matches/bets), matches, expected_p)

0.9279144546656708

#### Compare comps

In [85]:
model_data_1_with_preds_unique[model_data_1_with_preds_unique['action']!='None'].groupby('competition_name').agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum
}).sort_values('match_ref', ascending=False)

,match_ref,bet,win,winnings,profit,max_bet_amount,max_winnings,max_profit
competition_name,,,,,,,,
Spanish Copa Del Rey,22,22,10,21.19,-0.81,1751.71,1510.7453,-240.9647
Greek Super League,15,15,9,21.74,6.74,1050.92,1680.1030,629.1830
Italian Serie A,13,13,4,8.17,-4.83,974.07,694.7663,-279.3037
English Premier League,11,11,5,11.48,0.48,1049.63,1148.0000,98.3700
Turkish Super Lig,9,9,7,26.09,17.09,566.67,1337.6238,770.9538
Welsh Premier League,7,7,4,8.29,1.29,324.28,445.0209,120.7409
Scottish Premiership,2,2,0,0.00,-2.00,158.24,0.0000,-158.2400

In [86]:
model_data_2_with_preds_unique[model_data_2_with_preds_unique['action']!='None'].groupby('competition_name').agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum
}).sort_values('match_ref', ascending=False)

,match_ref,bet,win,winnings,profit,max_bet_amount,max_winnings,max_profit
competition_name,,,,,,,,
Coupe de France,35,35,20,56.13,21.13,2272.51,3752.8021,1480.2921
English FA Cup,23,23,14,31.55,8.55,1767.88,2357.3908,589.5108
Portuguese Primeira Liga,23,23,19,58.36,35.36,1501.09,3991.3367,2490.2467
Spanish La Liga,19,19,15,36.42,17.42,1598.59,3118.0108,1519.4208
Italian Serie A,15,15,3,7.59,-7.41,1187.08,584.5080,-602.5720
Scottish Premiership,12,12,7,16.10,4.10,833.40,1188.9340,355.5340
English National North,11,11,3,5.21,-5.79,317.36,215.7992,-101.5608
Australian A-League Men,10,10,6,12.22,2.22,650.79,787.6130,136.8230
Greek Super League,8,8,4,9.98,1.98,493.05,624.2128,131.1628
Dutch Eredivisie,6,6,4,13.64,7.64,349.17,596.5900,247.4200
Turkish Super Lig,5,5,2,3.70,-1.30,476.35,370.0000,-106.3500
Scottish League One,4,4,1,2.98,-1.02,231.72,298.0000,66.2800
English National South,4,4,1,2.20,-1.80,80.34,35.2000,-45.1400
English National League,3,3,0,0.00,-3.00,129.83,0.0000,-129.8300
Friendly,3,3,0,0.00,-3.00,160.92,0.0000,-160.9200
Belgian Jupiler Pro League,1,1,0,0.00,-1.00,87.72,0.0000,-87.7200
Scottish Championship,1,1,0,0.00,-1.00,12.93,0.0000,-12.9300

In [87]:
model_data_3_with_preds_unique[model_data_3_with_preds_unique['action']!='None'].groupby('competition_name').agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum
}).sort_values('match_ref', ascending=False)

,match_ref,bet,win,winnings,profit,max_bet_amount,max_winnings,max_profit
competition_name,,,,,,,,
French Ligue 1,8,8,5,11.16,3.16,634.39,873.4948,239.1048
English League Cup,5,5,5,16.40,11.40,500.00,1640.0000,1140.0000
Welsh Premier League,5,5,0,0.00,-5.00,198.79,0.0000,-198.7900
English FA Cup,3,3,0,0.00,-3.00,248.77,0.0000,-248.7700
English National League,3,3,2,6.12,3.12,136.98,340.8840,203.9040
Australian A-League Men,2,2,1,1.41,-0.59,200.00,141.0000,-59.0000
Coppa Italia,2,2,1,1.55,-0.45,150.75,155.0000,4.2500
Greek Super League,2,2,2,3.61,1.61,131.51,225.3898,93.8798
Italian Serie A,2,2,1,2.48,0.48,200.00,248.0000,48.0000
English Football League Trophy,1,1,0,0.00,-1.00,30.92,0.0000,-30.9200
Internationals,1,1,1,4.30,3.30,100.00,430.0000,330.0000
Spanish La Liga,1,1,1,1.97,0.97,100.00,197.0000,97.0000

In [88]:
model_data_4_with_preds_unique[model_data_4_with_preds_unique['action']!='None'].groupby('competition_name').agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum
}).sort_values('match_ref', ascending=False)

,match_ref,bet,win,winnings,profit,max_bet_amount,max_winnings,max_profit
competition_name,,,,,,,,
Turkish Super Lig,51,51,21,44.11,-6.89,3811.90,3911.2194,99.3194
Spanish La Liga,49,49,25,58.55,9.55,3955.24,4178.9100,223.6700
French Ligue 1,44,44,22,56.17,12.17,3727.16,4839.4518,1112.2918
Australian A-League Men,34,34,17,41.71,7.71,1870.58,2246.6723,376.0923
Greek Super League,34,34,18,44.38,10.38,2389.69,2862.7181,473.0281
English National League,32,32,6,12.87,-19.13,1239.29,360.0461,-879.2439
Scottish Premiership,27,27,13,36.74,9.74,1878.23,2243.0670,364.8370
Spanish Copa Del Rey,20,20,7,20.68,0.68,1669.68,1869.1840,199.5040
Scottish FA Cup,20,20,7,21.47,1.47,689.72,1064.0603,374.3403
Portuguese Primeira Liga,20,20,9,18.11,-1.89,1494.57,1422.8245,-71.7455
Dutch Eredivisie,19,19,4,8.77,-10.23,1578.06,521.0560,-1057.0040
Italian Serie A,18,18,10,26.13,8.13,1657.45,2060.8440,403.3940
Coupe de France,18,18,7,18.53,0.53,1315.47,1539.9008,224.4308
English National South,16,16,6,10.14,-4.86,610.21,352.9047,-231.5753
English National North,16,16,7,16.41,0.41,690.45,637.7127,-52.7373
English FA Cup,15,15,7,15.01,0.01,1010.15,1060.2571,50.1071
Sky Bet League One,15,15,7,17.33,2.33,945.01,934.4320,-10.5780
Belgian Jupiler Pro League,14,14,4,20.76,6.76,937.98,1000.3416,62.3616
Polish Ekstraklasa,13,13,6,12.43,-0.57,1137.55,1105.3535,-32.1965
German Bundesliga,13,13,7,19.17,6.17,1224.86,1715.4302,490.5702
Scottish League Two,12,12,2,3.76,-8.24,316.92,135.7256,-181.1944
German DFB Pokal,11,11,1,2.38,-8.62,888.77,238.0000,-650.7700
Italian Serie B,11,11,6,14.34,3.34,811.72,949.1965,137.4765
Coppa Italia,10,10,5,15.72,5.72,746.60,1289.0510,542.4510
Sky Bet Championship,7,7,3,6.67,-0.33,574.09,464.5956,-109.4944
Scottish League One,7,7,5,10.67,3.67,190.22,287.1906,96.9706
FIFA Club World Cup,6,6,3,6.84,0.84,414.87,552.9096,138.0396
Scottish League Cup,6,6,0,0.00,-6.00,518.79,0.0000,-518.7900
English Premier League,6,6,5,13.22,7.22,582.79,1256.6020,673.8120
Scottish Championship,5,5,2,5.25,0.25,227.90,118.1410,-109.7590
Swiss Super League,5,5,4,15.57,10.57,383.21,1227.1820,843.9720
Welsh Premier League,5,5,0,0.00,-5.00,189.61,0.0000,-189.6100
Sky Bet League Two,4,4,2,3.14,-0.86,238.90,194.0032,-44.8968
English League Cup,2,2,1,1.55,-0.45,200.00,155.0000,-45.0000
Internationals,1,1,1,2.38,1.38,100.00,238.0000,138.0000

#### Compare odds

In [89]:
odds_bands = [0, 1.5, 2, 3, 4, 5, 10, 999999]

model_data_1_with_preds_unique['odds_band'] = None
model_data_1_with_preds_unique['odds_used'] = None
for i, o in enumerate(odds_bands):
    over_mask = (model_data_1_with_preds_unique['action']=='over') & (model_data_1_with_preds_unique['actual_odds_over_back_3']>o)
    model_data_1_with_preds_unique.loc[over_mask, 'odds_band'] = i
    model_data_1_with_preds_unique.loc[over_mask, 'odds_used'] = model_data_1_with_preds_unique.loc[over_mask, 'actual_odds_over_back_3']
    
    under_mask = (model_data_1_with_preds_unique['action']=='under') & (model_data_1_with_preds_unique['actual_odds_under_back_3']>o)
    model_data_1_with_preds_unique.loc[under_mask, 'odds_band'] = i
    model_data_1_with_preds_unique.loc[under_mask, 'odds_used'] = model_data_1_with_preds_unique.loc[under_mask, 'actual_odds_under_back_3']

In [90]:
model_data_2_with_preds_unique['odds_band'] = None
model_data_2_with_preds_unique['odds_used'] = None
for i, o in enumerate(odds_bands):
    over_mask = (model_data_2_with_preds_unique['action']=='over') & (model_data_2_with_preds_unique['actual_odds_over_back_3']>o)
    model_data_2_with_preds_unique.loc[over_mask, 'odds_band'] = i
    model_data_2_with_preds_unique.loc[over_mask, 'odds_used'] = model_data_2_with_preds_unique.loc[over_mask, 'actual_odds_over_back_3']
    
    under_mask = (model_data_2_with_preds_unique['action']=='under') & (model_data_2_with_preds_unique['actual_odds_under_back_3']>o)
    model_data_2_with_preds_unique.loc[under_mask, 'odds_band'] = i
    model_data_2_with_preds_unique.loc[under_mask, 'odds_used'] = model_data_2_with_preds_unique.loc[under_mask, 'actual_odds_under_back_3']

In [91]:
model_data_3_with_preds_unique['odds_band'] = None
model_data_3_with_preds_unique['odds_used'] = None
for i, o in enumerate(odds_bands):
    over_mask = (model_data_3_with_preds_unique['action']=='over') & (model_data_3_with_preds_unique['actual_odds_over_back_3']>o)
    model_data_3_with_preds_unique.loc[over_mask, 'odds_band'] = i
    model_data_3_with_preds_unique.loc[over_mask, 'odds_used'] = model_data_3_with_preds_unique.loc[over_mask, 'actual_odds_over_back_3']
    
    under_mask = (model_data_3_with_preds_unique['action']=='under') & (model_data_3_with_preds_unique['actual_odds_under_back_3']>o)
    model_data_3_with_preds_unique.loc[under_mask, 'odds_band'] = i
    model_data_3_with_preds_unique.loc[under_mask, 'odds_used'] = model_data_3_with_preds_unique.loc[under_mask, 'actual_odds_under_back_3']

In [92]:
model_data_4_with_preds_unique['odds_band'] = None
model_data_4_with_preds_unique['odds_used'] = None
for i, o in enumerate(odds_bands):
    over_mask = (model_data_4_with_preds_unique['action']=='over') & (model_data_4_with_preds_unique['actual_odds_over_back_3']>o)
    model_data_4_with_preds_unique.loc[over_mask, 'odds_band'] = i
    model_data_4_with_preds_unique.loc[over_mask, 'odds_used'] = model_data_4_with_preds_unique.loc[over_mask, 'actual_odds_over_back_3']
    
    under_mask = (model_data_4_with_preds_unique['action']=='under') & (model_data_4_with_preds_unique['actual_odds_under_back_3']>o)
    model_data_4_with_preds_unique.loc[under_mask, 'odds_band'] = i
    model_data_4_with_preds_unique.loc[under_mask, 'odds_used'] = model_data_4_with_preds_unique.loc[under_mask, 'actual_odds_under_back_3']

In [93]:
odds_comp_1 = model_data_1_with_preds_unique[model_data_1_with_preds_unique['action']!='None'].groupby('odds_band').agg({
    'odds_used': max, 'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum
}).sort_values('odds_band')

odds_comp_1['roi_pc'] = 100*(odds_comp_1['profit'] / odds_comp_1['bet'])
odds_comp_1

,odds_used,match_ref,bet,win,winnings,profit,max_bet_amount,max_winnings,max_profit,roi_pc
odds_band,,,,,,,,,,
0,1.47,2,2,2,2.72,0.72,116.03,163.2579,47.2279,36.000000
1,2.00,24,24,15,26.05,2.05,2085.44,2317.4510,232.0110,8.541667
2,3.00,31,31,16,37.64,6.64,2340.76,2669.0984,328.3384,21.419355
3,4.00,9,9,4,15.45,6.45,572.01,1040.0720,468.0620,71.666667
4,5.00,6,6,0,0.00,-6.00,440.65,0.0000,-440.6500,-100.000000
5,10.00,7,7,2,15.10,8.10,320.63,626.3800,305.7500,115.714286

In [94]:
odds_comp_2 = model_data_2_with_preds_unique[model_data_2_with_preds_unique['action']!='None'].groupby('odds_band').agg({
    'odds_used': max, 'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum
}).sort_values('odds_band')

odds_comp_2['roi_pc'] = 100*(odds_comp_2['profit'] / odds_comp_2['bet'])
odds_comp_2

,odds_used,match_ref,bet,win,winnings,profit,max_bet_amount,max_winnings,max_profit,roi_pc
odds_band,,,,,,,,,,
0,1.5,6,6,4,5.79,-0.21,427.50,392.3920,-35.1080,-3.500000
1,2.0,46,46,34,61.01,15.01,3216.31,4432.6309,1216.3209,32.630435
2,3.0,74,74,40,98.58,24.58,5120.87,7289.8950,2169.0250,33.216216
3,4.0,24,24,10,35.70,11.70,1378.71,2044.5345,665.8245,48.750000
4,5.0,20,20,6,25.40,5.40,1243.61,1660.2450,416.6350,27.000000
5,8.0,12,12,5,29.60,17.60,687.83,2100.7000,1412.8700,146.666667
6,11.5,1,1,0,0.00,-1.00,75.90,0.0000,-75.9000,-100.000000

In [95]:
odds_comp_3 = model_data_3_with_preds_unique[model_data_3_with_preds_unique['action']!='None'].groupby('odds_band').agg({
    'odds_used': max, 'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum
}).sort_values('odds_band')

odds_comp_3['roi_pc'] = 100*(odds_comp_3['profit'] / odds_comp_3['bet'])
odds_comp_3

,odds_used,match_ref,bet,win,winnings,profit,max_bet_amount,max_winnings,max_profit,roi_pc
odds_band,,,,,,,,,,
0,1.46,2,2,1,1.41,-0.59,200.00,141.0000,-59.0000,-29.500000
1,1.98,8,8,7,12.51,4.51,645.94,1115.3898,469.4498,56.375000
2,2.88,13,13,7,17.58,4.58,997.85,1515.4948,517.6448,35.230769
3,3.90,6,6,2,6.80,0.80,345.62,408.8840,63.2640,13.333333
4,4.30,2,2,1,4.30,2.30,200.00,430.0000,230.0000,115.000000
5,6.40,4,4,1,6.40,2.40,242.70,640.0000,397.3000,60.000000

In [96]:
odds_comp_4 = model_data_4_with_preds_unique[model_data_4_with_preds_unique['action']!='None'].groupby('odds_band').agg({
    'odds_used': max, 'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum
}).sort_values('odds_band')

odds_comp_4['roi_pc'] = 100*(odds_comp_4['profit'] / odds_comp_4['bet'])
odds_comp_4

,odds_used,match_ref,bet,win,winnings,profit,max_bet_amount,max_winnings,max_profit,roi_pc
odds_band,,,,,,,,,,
0,1.5,14,14,7,10.31,-3.69,1134.97,827.0609,-307.9091,-26.357143
1,2.0,138,138,88,151.90,13.90,10109.11,11208.9361,1099.8261,10.072464
2,3.0,245,245,103,243.90,-1.10,16290.44,17054.6722,764.2322,-0.448980
3,4.0,94,94,30,102.95,8.95,6542.13,6847.6400,305.5100,9.521277
4,5.0,45,45,13,56.70,11.70,3135.99,4207.7070,1071.7170,26.000000
5,10.0,48,48,7,41.70,-6.30,2953.15,2533.3470,-419.8030,-13.125000
6,13.5,1,1,1,13.50,12.50,26.12,352.6200,326.5000,1250.000000

In [97]:
from_date = '2023-01-01'
odds_comp_4 = model_data_4_with_preds_unique[
    (model_data_4_with_preds_unique['action']!='None') &
    (model_data_4_with_preds_unique['datetime_utc']>=from_date)].groupby('odds_band').agg({
    'odds_used': max, 'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum
}).sort_values('odds_band')

odds_comp_4['roi_pc'] = 100*(odds_comp_4['profit'] / odds_comp_4['bet'])
odds_comp_4

,odds_used,match_ref,bet,win,winnings,profit,max_bet_amount,max_winnings,max_profit,roi_pc
odds_band,,,,,,,,,,
0,1.5,14,14,7,10.31,-3.69,1134.97,827.0609,-307.9091,-26.357143
1,2.0,138,138,88,151.90,13.90,10109.11,11208.9361,1099.8261,10.072464
2,3.0,245,245,103,243.90,-1.10,16290.44,17054.6722,764.2322,-0.448980
3,4.0,94,94,30,102.95,8.95,6542.13,6847.6400,305.5100,9.521277
4,5.0,45,45,13,56.70,11.70,3135.99,4207.7070,1071.7170,26.000000
5,10.0,48,48,7,41.70,-6.30,2953.15,2533.3470,-419.8030,-13.125000
6,13.5,1,1,1,13.50,12.50,26.12,352.6200,326.5000,1250.000000

In [98]:
break

SyntaxError: 'break' outside loop (<ipython-input-98-6aaf1f276005>, line 4)

# Data issues to look into
* Duplicate matches - THIS IS BECAUSE IT RERUNS FOR ANOTHER MATCH WITHIN 1 MINUTE AND THE SAME MATCH IS STILL WITHIN THE ALLOWABLE TIME RANGE
* ODDS CHANGES A LOT IN ONE MINUTE LATE ON! - Seems like this is ok based on testing, can also focus on earlier bets if a worry
* SL and BF string matching issues
* Delay (and think about how this will affect things in practice
* Goals scored differences between data at odds time and the retrospective data collection
* Oddly large looking odds

#### Delay times

In [ ]:
model_data_2_with_preds_unique['delay_time'].describe()

#### Weirdly large looking odds

In [ ]:
min_date = '2023-01-11' # 1 is Jan 2 to Jan 5, 2 is Jan 6 to Jan 8, 3 is Jan 9 on
max_date = '2023-01-12'
prediction_time = 80
over_under = 'over'

mask = (
    model_data_3_with_preds_unique['match_date'].between(min_date, max_date) &
    (model_data_3_with_preds_unique['next_prediction_time']==prediction_time) &
    (model_data_3_with_preds_unique['action']==over_under)
)

model_data_3_with_preds_unique.loc[
    mask,
    ['match_date', 'team_a_name', 'team_b_name', 'betfair_name', 'team_a_score', 'team_b_score', 'runner_name_over',
     f'goals_pre_{prediction_time}m', f'goals_post_{prediction_time}m', 'outcome', f'goals_pre_{prediction_time}m_added_on_data', f'goals_post_{prediction_time}m_added_on_data',
     'clock', 'lm_odds_over', 'rf_odds_over', 'lm_odds_under', 'rf_odds_under', 'actual_odds_over_back_1', 'actual_odds_under_back_1', 'delay_time',
     'team_a_score_added_on_data', 'team_b_score_added_on_data',
     'action', 'bet', 'win', 'winnings', 'max_bet_amount', 'max_winnings', 'profit','max_profit']]

#### Check test vs actual results

In [ ]:
model_data_4_with_preds['action'] = 'None'

model_data_4_with_preds.loc[
    (model_data_4_with_preds['lm_odds_over']*(1+odds_gap_min)<model_data_4_with_preds['actual_odds_over_back_1']) &
    (model_data_4_with_preds['rf_odds_over']*(1+odds_gap_min)<model_data_4_with_preds['actual_odds_over_back_1']) &
    (model_data_4_with_preds['actual_odds_over_lay_1']/model_data_4_with_preds['actual_odds_over_back_1'] < (1 + back_lay_max_pc)), 'action'] = 'over'

model_data_4_with_preds.loc[
    (model_data_4_with_preds['lm_odds_under']*(1+odds_gap_min)<model_data_4_with_preds['actual_odds_under_back_1']) &
    (model_data_4_with_preds['rf_odds_under']*(1+odds_gap_min)<model_data_4_with_preds['actual_odds_under_back_1']) &
    (model_data_4_with_preds['actual_odds_under_lay_1']/model_data_4_with_preds['actual_odds_under_back_1'] < (1 + back_lay_max_pc)), 'action'] = 'under'

In [ ]:
# need to add outcomes
model_data_4_with_preds['outcome'] = None
for p in prediction_times:
    mask = model_data_4_with_preds['next_prediction_time']==p
    model_data_4_with_preds.loc[mask, 'outcome_orig'] = (model_data_4_with_preds.loc[mask, f'goals_post_{p}m_added_on_data']>0)*1

model_data_4_with_preds['outcome'] = (model_data_4_with_preds['total_goals_added_on_data'] > model_data_4_with_preds['total_goals'])*1

In [ ]:
model_data_4_with_preds['bet'] = 1
model_data_4_with_preds.loc[model_data_4_with_preds['action'] == 'None', 'bet'] = 0
model_data_4_with_preds['win'] = 0
model_data_4_with_preds.loc[(model_data_4_with_preds['action']=='over') & (model_data_4_with_preds['outcome']==1), 'win'] = 1
model_data_4_with_preds.loc[(model_data_4_with_preds['action']=='under') & (model_data_4_with_preds['outcome']==0), 'win'] = 1

In [ ]:
model_data_4_with_preds['winnings'] = 0

over_win_mask = (model_data_4_with_preds['action']=='over') & (model_data_4_with_preds['win']==1)
model_data_4_with_preds.loc[over_win_mask, 'winnings'] = model_data_4_with_preds.loc[over_win_mask, 'actual_odds_over_back_3']

under_win_mask = (model_data_4_with_preds['action']=='under') & (model_data_4_with_preds['win']==1)
model_data_4_with_preds.loc[under_win_mask, 'winnings'] = model_data_4_with_preds.loc[under_win_mask, 'actual_odds_under_back_3']

In [ ]:
model_data_4_with_preds['max_bet_amount'] = 0

under_mask = model_data_4_with_preds['action']=='under'
model_data_4_with_preds.loc[under_mask, 'max_bet_amount'] = model_data_4_with_preds.loc[under_mask, 'size_under_back_1'].apply(lambda x: min(x, max_bet))

over_mask = model_data_4_with_preds['action']=='over'
model_data_4_with_preds.loc[over_mask, 'max_bet_amount'] = model_data_4_with_preds.loc[over_mask, 'size_over_back_1'].apply(lambda x: min(x, max_bet))

model_data_4_with_preds['max_winnings'] = model_data_4_with_preds['max_bet_amount']*model_data_4_with_preds['winnings']

model_data_4_with_preds['profit'] = model_data_4_with_preds['winnings'] - model_data_4_with_preds['bet']
model_data_4_with_preds['max_profit'] = model_data_4_with_preds['max_winnings'] - model_data_4_with_preds['max_bet_amount']

In [ ]:
from_date = '2023-01-16 00:00'
model_data_4_with_preds[model_data_4_with_preds['datetime_utc']>=from_date].groupby(['next_prediction_time', 'action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

In [ ]:
model_data_4_with_preds[model_data_4_with_preds['datetime_utc']>=from_date].groupby(['action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

In [ ]:
# get bet outcomes
connect_string = 'mysql+pymysql://root:'+dbpw+'@localhost/sl_bf_late_goals'
sql_engine = sqlalchemy.create_engine(connect_string)
order_results = pd.read_sql('''SELECT * FROM testing_live_order_results''', con=sql_engine)

In [ ]:
order_results.head(3)

In [ ]:
recent_bets = model_data_4_with_preds[(model_data_4_with_preds['datetime_utc']>=from_date) & (model_data_4_with_preds['action']!='None')]
len(recent_bets)

In [ ]:
recent_bets_with_outcomes = recent_bets.merge(
    order_results[['status', 'market_id', 'datetime_utc', 'price', 'average_price_matched', 'order_status', 'bet_id']], how='left', on=['market_id', 'datetime_utc'])

In [ ]:
recent_bets_with_outcomes.shape

In [ ]:
recent_bets_with_outcomes.head(3)

In [ ]:
recent_bets_with_outcomes[['match_date', 'datetime_utc', 'betfair_id', 'team_a_name', 'team_b_name', 'betfair_name',
                           'action', 'bet', 'win', 'winnings', 'profit', 'actual_odds_over_back_1', 'actual_odds_under_back_1',
                           'status', 'price', 'average_price_matched', 'order_status',
                           'max_bet_amount', 'max_winnings', 'max_profit', 'clock',
                           'lm_odds_over', 'rf_odds_over', 'lm_odds_under', 'rf_odds_under',]].head(3)

In [ ]:
recent_bets_with_outcomes['actual_winnings'] = recent_bets_with_outcomes['win']*recent_bets_with_outcomes['average_price_matched'].astype(float)
recent_bets_with_outcomes['actual_winnings'] = recent_bets_with_outcomes['actual_winnings'].fillna(0)
recent_bets_with_outcomes['actual_profit'] = recent_bets_with_outcomes['actual_winnings'] - 1#recent_bets_with_outcomes['bet']

In [ ]:
recent_bets_with_outcomes.groupby(['status', 'order_status']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'actual_winnings': sum, 'actual_profit': sum})

Get actual PL etc from betfair

In [ ]:
header = {'X-Application': application, 'Content-Type': 'application/x-www-form-urlencoded'}
auth = 'username='+username+'&password='+password

try:
    login = requests.post('https://identitysso-cert.betfair.com/api/certlogin',
                      cert=('/etc/ssl/client-2048.crt', '/etc/ssl/client-2048.key'),
                      headers=header, data=auth, timeout=5)
except Exception as e:
    print('Request error: '+str(e))
login_success = login.json()['loginStatus']
logging.info('Login '+str(login_success))

In [ ]:
ssoid = login.json()['sessionToken']
headers = {'X-Application': application, 'X-Authentication': ssoid, 'content-type': 'application/json'}

In [ ]:
bet_url = "https://api.betfair.com/exchange/betting/json-rpc/v1"

In [ ]:
markets = list(recent_bets_with_outcomes['market_id'].unique())
bet_outcomes_bf = []
for m in markets:
    
    # get settled bets
    outcome_req = '{"jsonrpc": "2.0", "method": "SportsAPING/v1.0/listClearedOrders",\
                    "params": {"marketIds": ["' + str(m) + '"], "betStatus": "SETTLED"}, "id": 1}'
    request = requests.post(bet_url, data=outcome_req.encode('utf-8'), headers=headers)
    outcome_result = request.json()
    bet_outcomes_bf += outcome_result['result']['clearedOrders']

In [ ]:
def parse_bet_outcome(bet_outcome):
    return [
        bet_outcome.get('eventTypeId', None),
        bet_outcome.get('eventId', None),
        bet_outcome.get('marketId', None),
        bet_outcome.get('selectionId', None),
        bet_outcome.get('handicap', None),
        bet_outcome.get('betId', None),
        bet_outcome.get('placedDate', None),
        bet_outcome.get('persistenceType', None),
        bet_outcome.get('orderType', None),
        bet_outcome.get('side', None),
        bet_outcome.get('betOutcome', None),
        bet_outcome.get('priceRequested', None),
        bet_outcome.get('settledDate', None),
        bet_outcome.get('lastMatchedDate', None),
        bet_outcome.get('betCount', None),
        bet_outcome.get('priceMatched', None),
        bet_outcome.get('priceReduced', None),
        bet_outcome.get('sizeSettled', None),
        bet_outcome.get('sizeCancelled', None),
        bet_outcome.get('profit', None),
    ]

outcome_cols = ['event_type_id', 'event_id', 'market_id', 'selection_id', 'handicap', 'bet_id', 'placed_date', 'persistence_type',
                'order_type', 'side', 'bet_outcome', 'price_requested', 'settled_date', 'last_matched_date', 'bet_count', 'price_matched',
                'price_reduced', 'size_settled', 'size_cancelled', 'profit']

In [ ]:
bet_outcomes_bf_df = pd.DataFrame([parse_bet_outcome(b) for b in bet_outcomes_bf], columns=outcome_cols)

In [ ]:
bet_outcomes_bf_df['bet_win_bf'] = (bet_outcomes_bf_df['bet_outcome']=='WON')*1

In [ ]:
bet_outcomes_bf_df.shape

In [ ]:
recent_bets_with_outcomes_and_bf = recent_bets_with_outcomes.merge(
    bet_outcomes_bf_df[['bet_id', 'bet_outcome', 'price_requested', 'price_matched', 'profit', 'bet_win_bf']], how='left', on='bet_id', suffixes=('', '_bf'))

In [ ]:
recent_bets_with_outcomes_and_bf.shape

In [ ]:
recent_bets_with_outcomes_and_bf.groupby(['status', 'order_status']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'actual_winnings': sum, 'actual_profit': sum,
    'bet_win_bf': sum, 'profit_bf': sum})

In [ ]:
recent_bets_with_outcomes_and_bf['profit_diff'] = recent_bets_with_outcomes_and_bf['profit'] - recent_bets_with_outcomes_and_bf['profit_bf']

In [ ]:
cols_to_show = [c for c in recent_bets_with_outcomes_and_bf.columns if 'goal' not in c]

In [ ]:
pd.options.display.max_columns = 150
recent_bets_with_outcomes_and_bf[cols_to_show].sort_values('profit_diff').tail(100)

* 85 in betfair settled (since 2023-01-14 17:00) vs 110 bets above
* 18 in betfair cancelled
* 0 lapsed
* 7 order errors recorded in testing_live_order_results in db

In [ ]:
market_id in ['1.208431813', '1.208431854', '1.208431858']

In [ ]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 150
model_data_4_with_preds.loc[
    (model_data_4_with_preds['datetime_utc']>=from_date) & (model_data_4_with_preds['action']!='None')# & (model_data_4_with_preds['market_id'].isin(['1.208431813', '1.208431854', '1.208431858']))
    ,
    ['match_date', 'datetime_utc', 'betfair_id', 'team_a_name', 'team_b_name', 'betfair_name',
     'action', 'bet', 'win', 'winnings', 'profit', 'actual_odds_over_back_1', 'actual_odds_under_back_1', 'max_bet_amount', 'max_winnings','max_profit',
     'team_a_score', 'team_b_score', 'runner_name_over',
     #f'goals_pre_{prediction_time}m', f'goals_post_{prediction_time}m', 'outcome', f'goals_pre_{prediction_time}m_added_on_data', f'goals_post_{prediction_time}m_added_on_data',
     'clock', 'lm_odds_over', 'rf_odds_over', 'lm_odds_under', 'rf_odds_under', 'delay_time',
     'team_a_score_added_on_data', 'team_b_score_added_on_data',  'datetime_utc'
     ]].sort_values(['team_a_name', 'action', 'actual_odds_over_back_1'])

In [ ]:
market_datetime_counts = model_data_4_with_preds[model_data_4_with_preds['datetime_utc']>=from_date].groupby(['market_id', 'datetime_utc']).size().reset_index().rename(columns={0:'count'})

In [ ]:
market_datetime_counts.groupby('count').size()

In [ ]:
market_datetime_counts3 = model_data_3_with_preds.groupby(['market_id', 'datetime_utc']).size().reset_index().rename(columns={0:'count'})

In [ ]:
market_datetime_counts3.groupby('count').size()

In [ ]:
model_data_4_with_preds.groupby(['action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

In [ ]:
model_data_4_with_preds[
    model_data_4_with_preds['market_id'].isin(market_datetime_counts.loc[market_datetime_counts['count']>1, 'market_id'])].groupby(['action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

In [ ]:
model_data_4_with_preds[
    ~model_data_4_with_preds['market_id'].isin(market_datetime_counts.loc[market_datetime_counts['count']>1, 'market_id'])].groupby(['action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

In [ ]:
model_data_3_with_preds['action'] = 'None'

model_data_3_with_preds.loc[
    (model_data_3_with_preds['lm_odds_over']*(1+odds_gap_min)<model_data_3_with_preds['actual_odds_over_back_1']) &
    (model_data_3_with_preds['rf_odds_over']*(1+odds_gap_min)<model_data_3_with_preds['actual_odds_over_back_1']) &
    (model_data_3_with_preds['actual_odds_over_lay_1']/model_data_3_with_preds['actual_odds_over_back_1'] < (1 + back_lay_max_pc)), 'action'] = 'over'

model_data_3_with_preds.loc[
    (model_data_3_with_preds['lm_odds_under']*(1+odds_gap_min)<model_data_3_with_preds['actual_odds_under_back_1']) &
    (model_data_3_with_preds['rf_odds_under']*(1+odds_gap_min)<model_data_3_with_preds['actual_odds_under_back_1']) &
    (model_data_3_with_preds['actual_odds_under_lay_1']/model_data_3_with_preds['actual_odds_under_back_1'] < (1 + back_lay_max_pc)), 'action'] = 'under'

In [ ]:
# need to add outcomes
model_data_3_with_preds['outcome'] = None
for p in prediction_times:
    mask = model_data_3_with_preds['next_prediction_time']==p
    model_data_3_with_preds.loc[mask, 'outcome_orig'] = (model_data_3_with_preds.loc[mask, f'goals_post_{p}m_added_on_data']>0)*1

model_data_3_with_preds['outcome'] = (model_data_3_with_preds['total_goals_added_on_data'] > model_data_3_with_preds['total_goals'])*1

In [ ]:
model_data_3_with_preds['bet'] = 1
model_data_3_with_preds.loc[model_data_3_with_preds['action'] == 'None', 'bet'] = 0
model_data_3_with_preds['win'] = 0
model_data_3_with_preds.loc[(model_data_3_with_preds['action']=='over') & (model_data_3_with_preds['outcome']==1), 'win'] = 1
model_data_3_with_preds.loc[(model_data_3_with_preds['action']=='under') & (model_data_3_with_preds['outcome']==0), 'win'] = 1

In [ ]:
model_data_3_with_preds['winnings'] = 0

over_win_mask = (model_data_3_with_preds['action']=='over') & (model_data_3_with_preds['win']==1)
model_data_3_with_preds.loc[over_win_mask, 'winnings'] = model_data_3_with_preds.loc[over_win_mask, 'actual_odds_over_back_3']

under_win_mask = (model_data_3_with_preds['action']=='under') & (model_data_3_with_preds['win']==1)
model_data_3_with_preds.loc[under_win_mask, 'winnings'] = model_data_3_with_preds.loc[under_win_mask, 'actual_odds_under_back_3']

In [ ]:
model_data_3_with_preds['max_bet_amount'] = 0

under_mask = model_data_3_with_preds['action']=='under'
model_data_3_with_preds.loc[under_mask, 'max_bet_amount'] = model_data_3_with_preds.loc[under_mask, 'size_under_back_1'].apply(lambda x: min(x, max_bet))

over_mask = model_data_3_with_preds['action']=='over'
model_data_3_with_preds.loc[over_mask, 'max_bet_amount'] = model_data_3_with_preds.loc[over_mask, 'size_over_back_1'].apply(lambda x: min(x, max_bet))

model_data_3_with_preds['max_winnings'] = model_data_3_with_preds['max_bet_amount']*model_data_3_with_preds['winnings']

model_data_3_with_preds['profit'] = model_data_3_with_preds['winnings'] - model_data_3_with_preds['bet']
model_data_3_with_preds['max_profit'] = model_data_3_with_preds['max_winnings'] - model_data_3_with_preds['max_bet_amount']

In [ ]:
model_data_3_with_preds.groupby(['action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

In [ ]:
model_data_3_with_preds[
    model_data_3_with_preds['market_id'].isin(market_datetime_counts3.loc[market_datetime_counts3['count']>1, 'market_id'])].groupby(['action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})

In [ ]:
model_data_3_with_preds[
    ~model_data_3_with_preds['market_id'].isin(market_datetime_counts3.loc[market_datetime_counts3['count']>1, 'market_id'])].groupby(['action']).agg({
    'match_ref': len, 'bet': sum, 'win': sum, 'winnings': sum, 'profit': sum, 'max_bet_amount': sum, 'max_winnings': sum, 'max_profit': sum})