# League Outcome Distributions
Based on match odds

In [2]:
import pandas as pd
import numpy as np
import config
import importlib
importlib.reload(config)
from config import username, password, application, dbpw

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import pymysql
import sqlalchemy

In [3]:
1/5.3

0.18867924528301888

In [4]:
connect_string = 'mysql+pymysql://root:'+dbpw+'@localhost/league_arb'
sql_engine = sqlalchemy.create_engine(connect_string)

league_odds = pd.read_sql("SELECT * FROM league_odds", con=sql_engine)
match_odds = pd.read_sql("SELECT * FROM match_odds", con=sql_engine)
match_outcomes = pd.read_sql("SELECT * FROM match_outcomes", con=sql_engine)

In [13]:
pd.options.display.max_columns = 100

In [18]:
match_odds[match_odds['runner_name'].isin(['Man City', 'Arsenal', 'Liverpool'])].groupby(['runner_name', 'event_name']).head(1)[
    ['runner_name', 'event_name', 'back_price_1', 'lay_price_1']].sort_values('runner_name')

      runner_name                event_name  back_price_1  lay_price_1
2679      Arsenal          Arsenal v Wolves          1.20         1.21
10231     Arsenal     Aston Villa v Arsenal          1.86         1.87
23145     Arsenal        Arsenal v Brighton          1.36         1.37
41509     Arsenal       Tottenham v Arsenal          2.42         2.44
58375     Arsenal        Man City v Arsenal          5.00         5.10
2665    Liverpool       Ipswich v Liverpool          1.36         1.37
13755   Liverpool     Liverpool v Brentford          1.26         1.27
27535   Liverpool       Man Utd v Liverpool          1.90         1.92
37302   Liverpool  Liverpool v Nottm Forest          1.24         1.25
53532   Liverpool   Liverpool v Bournemouth          1.30         1.31
4387     Man City        Chelsea v Man City          1.94         1.96
10035    Man City        Man City v Ipswich          1.09         1.10
23956    Man City       West Ham v Man City          1.42         1.43
37278    Man City      Man City v Brentford          1.19         1.20
58374    Man City        Man City v Arsenal          1.87         1.88

In [33]:
match_odds[match_odds['event_name']=='Chelsea v Man City'].groupby(['runner_name', 'event_name']).head(1)[
    ['runner_name', 'event_name', 'back_price_1', 'lay_price_1']].sort_values('runner_name')

     runner_name          event_name  back_price_1  lay_price_1
4386     Chelsea  Chelsea v Man City          4.10         4.20
4387    Man City  Chelsea v Man City          1.94         1.96
4388    The Draw  Chelsea v Man City          4.10         4.20

In [113]:
# A = away against top team
# B = home against top team
# C = away against middle team
# D = home against... etc

team_league_match_odds = pd.DataFrame({
    'Opponent Strength': ['A', 'B', 'C', 'D', 'E', 'F'],
    'Opponent Count': [2, 2, 5, 5, 12, 12],
    'Man C Odds': [[0.5, 0.25, 0.25], [0.55, 0.25, 0.2], [0.65, 0.20, 0.15], [0.7, 0.17, 0.13], [0.8, 0.13, 0.07], [0.85, 0.10, 0.05]],
    'Man C Won': [0, 0, 0, 0, 0, 0],
    'Man C Drawn': [0, 0, 0, 0, 0, 0],
    'Man C Lost': [0, 0, 0, 0, 0, 0],
    'Liverpool Odds': [[0.48, 0.26, 0.26], [0.52, 0.26, 0.22], [0.62, 0.21, 0.17], [0.67, 0.18, 0.15], [0.77, 0.15, 0.08], [0.81, 0.12, 0.07]],
    'Liverpool Won': [0, 0, 0, 0, 0, 0],
    'Liverpool Drawn': [0, 0, 0, 0, 0, 0],
    'Liverpool Lost': [0, 0, 0, 0, 0, 0],
    'Arsenal Odds': [[0.48, 0.26, 0.26], [0.52, 0.26, 0.22], [0.62, 0.21, 0.17], [0.67, 0.18, 0.15], [0.77, 0.15, 0.08], [0.81, 0.12, 0.07]],
    'Arsenal Won': [0, 0, 0, 0, 0, 0],
    'Arsenal Drawn': [0, 0, 0, 0, 0, 0],
    'Arsenal Lost': [0, 0, 0, 0, 0, 0]
})

In [114]:
team_league_match_odds

,Opponent Strength,Opponent Count,Man C Odds,Man C Won,Man C Drawn,Man C Lost,Liverpool Odds,Liverpool Won,Liverpool Drawn,Liverpool Lost,Arsenal Odds,Arsenal Won,Arsenal Drawn,Arsenal Lost
0,A,2,"[0.5, 0.25, 0.25]",0,0,0,"[0.48, 0.26, 0.26]",0,0,0,"[0.48, 0.26, 0.26]",0,0,0
1,B,2,"[0.55, 0.25, 0.2]",0,0,0,"[0.52, 0.26, 0.22]",0,0,0,"[0.52, 0.26, 0.22]",0,0,0
2,C,5,"[0.65, 0.2, 0.15]",0,0,0,"[0.62, 0.21, 0.17]",0,0,0,"[0.62, 0.21, 0.17]",0,0,0
3,D,5,"[0.7, 0.17, 0.13]",0,0,0,"[0.67, 0.18, 0.15]",0,0,0,"[0.67, 0.18, 0.15]",0,0,0
4,E,12,"[0.8, 0.13, 0.07]",0,0,0,"[0.77, 0.15, 0.08]",0,0,0,"[0.77, 0.15, 0.08]",0,0,0
5,F,12,"[0.85, 0.1, 0.05]",0,0,0,"[0.81, 0.12, 0.07]",0,0,0,"[0.81, 0.12, 0.07]",0,0,0

In [121]:
n_samples = 10000
team_league_match_odds['Man C Exp Points Calc'] = None
team_league_match_odds['Man C Std Points Calc'] = None
team_league_match_odds['Man C Exp Points Samp'] = None
team_league_match_odds['Man C Std Points Samp'] = None
team_league_match_odds['Liverpool Exp Points Calc'] = None
team_league_match_odds['Liverpool Std Points Calc'] = None
team_league_match_odds['Liverpool Exp Points Samp'] = None
team_league_match_odds['Liverpool Std Points Samp'] = None
team_league_match_odds['Arsenal Exp Points Calc'] = None
team_league_match_odds['Arsenal Std Points Calc'] = None
team_league_match_odds['Arsenal Exp Points Samp'] = None
team_league_match_odds['Arsenal Std Points Samp'] = None

for idx, row in team_league_match_odds.iterrows():
    for team in ['Man C', 'Liverpool', 'Arsenal']:
        team_exp = sum(np.array(row[f'{team} Odds'])*np.array([3, 1, 0]))
        team_exp_sq = sum(np.array(row[f'{team} Odds'])*np.array([9, 1, 0]))
        team_league_match_odds.at[idx, f'{team} Exp Points Calc'] = team_exp*row['Opponent Count']
        team_league_match_odds.at[idx, f'{team} Std Points Calc'] = np.sqrt(row['Opponent Count']*(team_exp_sq - team_exp**2))
    
        team_samples = [
            np.sum(np.random.choice([3, 1, 0], size=row['Opponent Count'], replace=True, p=row[f'{team} Odds']))
            for i in range(n_samples)]
        team_league_match_odds.at[idx, f'{team} Exp Points Samp'] = np.mean(team_samples)
        team_league_match_odds.at[idx, f'{team} Std Points Samp'] = np.std(team_samples)

In [122]:
team_league_match_odds

,Opponent Strength,Opponent Count,Man C Odds,Man C Won,Man C Drawn,Man C Lost,Liverpool Odds,Liverpool Won,Liverpool Drawn,Liverpool Lost,Arsenal Odds,Arsenal Won,Arsenal Drawn,Arsenal Lost,Man C Exp Points Calc,Man C Std Points Calc,Man C Exp Points Samp,Man C Std Points Samp,Liverpool Exp Points Calc,Liverpool Std Points Calc,Liverpool Exp Points Samp,Liverpool Std Points Samp,Arsenal Exp Points Calc,Arsenal Std Points Calc,Arsenal Exp Points Samp,Arsenal Std Points Samp
0,A,2,"[0.5, 0.25, 0.25]",0,0,0,"[0.48, 0.26, 0.26]",0,0,0,"[0.48, 0.26, 0.26]",0,0,0,3.5,1.837117,3.5093,1.826667,3.4,1.838478,3.4009,1.838254,3.4,1.838478,3.3683,1.829824
1,B,2,"[0.55, 0.25, 0.2]",0,0,0,"[0.52, 0.26, 0.22]",0,0,0,"[0.52, 0.26, 0.22]",0,0,0,3.8,1.783255,3.7828,1.791821,3.64,1.804217,3.6586,1.799013,3.64,1.804217,3.6535,1.779561
2,C,5,"[0.65, 0.2, 0.15]",0,0,0,"[0.62, 0.21, 0.17]",0,0,0,"[0.62, 0.21, 0.17]",0,0,0,10.75,2.67161,10.6999,2.715923,10.35,2.743264,10.3419,2.742554,10.35,2.743264,10.316,2.756908
3,D,5,"[0.7, 0.17, 0.13]",0,0,0,"[0.67, 0.18, 0.15]",0,0,0,"[0.67, 0.18, 0.15]",0,0,0,11.35,2.566223,11.3586,2.537086,10.95,2.658853,11.0069,2.656436,10.95,2.658853,10.9318,2.654195
4,E,12,"[0.8, 0.13, 0.07]",0,0,0,"[0.77, 0.15, 0.08]",0,0,0,"[0.77, 0.15, 0.08]",0,0,0,30.36,3.339042,30.3825,3.36339,29.52,3.512947,29.5124,3.548556,29.52,3.512947,29.5585,3.503452
5,F,12,"[0.85, 0.1, 0.05]",0,0,0,"[0.81, 0.12, 0.07]",0,0,0,"[0.81, 0.12, 0.07]",0,0,0,31.8,2.954657,31.7778,2.989653,30.6,3.3,30.5661,3.33023,30.6,3.3,30.5496,3.294957

In [123]:
sum(team_league_match_odds['Man C Exp Points Calc'])

np.float64(91.56)

In [124]:
sum(team_league_match_odds['Liverpool Exp Points Calc'])

np.float64(88.46000000000001)

In [125]:
sum(team_league_match_odds['Arsenal Exp Points Calc'])

np.float64(88.46000000000001)

In [128]:
np.sqrt(sum(team_league_match_odds['Man C Std Points Calc']**2))

np.float64(6.336970885210062)

In [129]:
np.sqrt(sum(team_league_match_odds['Liverpool Std Points Calc']**2))

np.float64(6.667908217724656)

In [130]:
np.sqrt(sum(team_league_match_odds['Arsenal Std Points Calc']**2))

np.float64(6.667908217724656)